section.payment.pd-80
	.container-fluid
		.mainWrapper
			.row
				.col-lg-8
					.cartAside__options
						.cartAsideOption
							.cartAsideOption__title
								h4 Premade Tour
									a.fal.fa-edit(href="#")
								.cartAsideOption__price 8.490.000 đ
								span.fas.fa-chevron-down.cartAsideOption__iconToggle
							.cartAsideOption__list
								.formTourSearchItem
									label.formTourSearchItem__check
										input.d-none(type="checkbox")
										span.formTourSearchItem__check--icon
									.formTourSearchItem__wrapper
										.formTourSearchItem__content
											h4 Trekking in Sapa
												a.fal.fa-edit(href="#")
											.formTourSearchItem__description
												.formItem__left
													p Oct 9 - Oct 11
													p Adult
													p.formItem__left--left
														span 3
														span x 
														span đ 500.000
												.formTourSearchItem__priceWrapper
													p.formTourSearchItem__price 235.888 đ
								.formTourSearchItem
									label.formTourSearchItem__check
										input.d-none(type="checkbox")
										span.formTourSearchItem__check--icon
									.formTourSearchItem__wrapper
										.formTourSearchItem__content
											h4 Trekking in Sapa
												a.fal.fa-edit(href="#")
											.formTourSearchItem__description
												.formItem__left
													p Oct 9 - Oct 11
													p Adult
													p.formItem__left--left
														span 3
														span x 
														span đ 500.000
												.formTourSearchItem__priceWrapper
													p.formTourSearchItem__price 235.888 đ
								.formTourSearchItem
									label.formTourSearchItem__check
										input.d-none(type="checkbox")
										span.formTourSearchItem__check--icon
									.formTourSearchItem__wrapper
										.formTourSearchItem__content
											h4 Trekking in Sapa
												a.fal.fa-edit(href="#")
											.formTourSearchItem__description
												.formItem__left
													p Oct 9 - Oct 11
													p Adult
													p.formItem__left--left
														span 3
														span x 
														span đ 500.000
												.formTourSearchItem__priceWrapper
													p.formTourSearchItem__price 235.888 đ
						.cartAsideOption
							.cartAsideOption__title
								h4 Hotel
									a.fal.fa-edit(href="#")
								.cartAsideOption__price 8.490.000 đ
								span.fas.fa-chevron-down.cartAsideOption__iconToggle
							.cartAsideOption__list
									.formTourSearchItem
										label.formTourSearchItem__check
											input.d-none(type="checkbox")
											span.formTourSearchItem__check--icon
										.formTourSearchItem__wrapper
											.formTourSearchItem__content
												h4 Trekking in Sapa
													a.fal.fa-edit(href="#")
												.formTourSearchItem__description
													.formItem__left
														p Oct 9 - Oct 11
														p Adult
														p.formItem__left--left
															span 3
															span x 
															span đ 500.000
													.formTourSearchItem__priceWrapper
														p.formTourSearchItem__price 235.888 đ
									.formTourSearchItem
										label.formTourSearchItem__check
											input.d-none(type="checkbox")
											span.formTourSearchItem__check--icon
										.formTourSearchItem__wrapper
											.formTourSearchItem__content
												h4 Trekking in Sapa
													a.fal.fa-edit(href="#")
												.formTourSearchItem__description
													.formItem__left
														p Oct 9 - Oct 11
														p Adult
														p.formItem__left--left
															span 3
															span x 
															span đ 500.000
													.formTourSearchItem__priceWrapper
														p.formTourSearchItem__price 235.888 đ
									.formTourSearchItem
										label.formTourSearchItem__check
											input.d-none(type="checkbox")
											span.formTourSearchItem__check--icon
										.formTourSearchItem__wrapper
											.formTourSearchItem__content
												h4 Trekking in Sapa
													a.fal.fa-edit(href="#")
												.formTourSearchItem__description
													.formItem__left
														p Oct 9 - Oct 11
														p Adult
														p.formItem__left--left
															span 3
															span x 
															span đ 500.000
													.formTourSearchItem__priceWrapper
														p.formTourSearchItem__price 235.888 đ
						.cartAsideOption
							.cartAsideOption__title
								h4 Cruises
									a.fal.fa-edit(href="#")
								.cartAsideOption__price 8.490.000 đ
								span.fas.fa-chevron-down.cartAsideOption__iconToggle
							.cartAsideOption__list
									.formTourSearchItem
										label.formTourSearchItem__check
											input.d-none(type="checkbox")
											span.formTourSearchItem__check--icon
										.formTourSearchItem__wrapper
											.formTourSearchItem__content
												h4 Trekking in Sapa
													a.fal.fa-edit(href="#")
												.formTourSearchItem__description
													.formItem__left
														p Oct 9 - Oct 11
														p Adult
														p.formItem__left--left
															span 3
															span x 
															span đ 500.000
													.formTourSearchItem__priceWrapper
														p.formTourSearchItem__price 235.888 đ
									.formTourSearchItem
										label.formTourSearchItem__check
											input.d-none(type="checkbox")
											span.formTourSearchItem__check--icon
										.formTourSearchItem__wrapper
											.formTourSearchItem__content
												h4 Trekking in Sapa
													a.fal.fa-edit(href="#")
												.formTourSearchItem__description
													.formItem__left
														p Oct 9 - Oct 11
														p Adult
														p.formItem__left--left
															span 3
															span x 
															span đ 500.000
													.formTourSearchItem__priceWrapper
														p.formTourSearchItem__price 235.888 đ
									.formTourSearchItem
										label.formTourSearchItem__check
											input.d-none(type="checkbox")
											span.formTourSearchItem__check--icon
										.formTourSearchItem__wrapper
											.formTourSearchItem__content
												h4 Trekking in Sapa
													a.fal.fa-edit(href="#")
												.formTourSearchItem__description
													.formItem__left
														p Oct 9 - Oct 11
														p Adult
														p.formItem__left--left
															span 3
															span x 
															span đ 500.000
													.formTourSearchItem__priceWrapper
														p.formTourSearchItem__price 235.888 đ
						.cartAsideOption
							.cartAsideOption__title
								h4 Transportations
									a.fal.fa-edit(href="#")
								.cartAsideOption__price 8.490.000 đ
								span.fas.fa-chevron-down.cartAsideOption__iconToggle
							.cartAsideOption__list
									.formTourSearchItem
										label.formTourSearchItem__check
											input.d-none(type="checkbox")
											span.formTourSearchItem__check--icon
										.formTourSearchItem__wrapper
											.formTourSearchItem__content
												h4 Trekking in Sapa
													a.fal.fa-edit(href="#")
												.formTourSearchItem__description
													.formItem__left
														p Oct 9 - Oct 11
														p Adult
														p.formItem__left--left
															span 3
															span x 
															span đ 500.000
													.formTourSearchItem__priceWrapper
														p.formTourSearchItem__price 235.888 đ
									.formTourSearchItem
										label.formTourSearchItem__check
											input.d-none(type="checkbox")
											span.formTourSearchItem__check--icon
										.formTourSearchItem__wrapper
											.formTourSearchItem__content
												h4 Trekking in Sapa
													a.fal.fa-edit(href="#")
												.formTourSearchItem__description
													.formItem__left
														p Oct 9 - Oct 11
														p Adult
														p.formItem__left--left
															span 3
															span x 
															span đ 500.000
													.formTourSearchItem__priceWrapper
														p.formTourSearchItem__price 235.888 đ
									.formTourSearchItem
										label.formTourSearchItem__check
											input.d-none(type="checkbox")
											span.formTourSearchItem__check--icon
										.formTourSearchItem__wrapper
											.formTourSearchItem__content
												h4 Trekking in Sapa
													a.fal.fa-edit(href="#")
												.formTourSearchItem__description
													.formItem__left
														p Oct 9 - Oct 11
														p Adult
														p.formItem__left--left
															span 3
															span x 
															span đ 500.000
													.formTourSearchItem__priceWrapper
														p.formTourSearchItem__price 235.888 đ
						.cartAsideOption
							.cartAsideOption__title
								h4 Guide
									a.fal.fa-edit(href="#")
								.cartAsideOption__price 8.490.000 đ
								span.fas.fa-chevron-down.cartAsideOption__iconToggle
							.cartAsideOption__list
									.formTourSearchItem
										label.formTourSearchItem__check
											input.d-none(type="checkbox")
											span.formTourSearchItem__check--icon
										.formTourSearchItem__wrapper
											.formTourSearchItem__content
												h4 Trekking in Sapa
													a.fal.fa-edit(href="#")
												.formTourSearchItem__description
													.formItem__left
														p Oct 9 - Oct 11
														p Adult
														p.formItem__left--left
															span 3
															span x 
															span đ 500.000
													.formTourSearchItem__priceWrapper
														p.formTourSearchItem__price 235.888 đ
									.formTourSearchItem
										label.formTourSearchItem__check
											input.d-none(type="checkbox")
											span.formTourSearchItem__check--icon
										.formTourSearchItem__wrapper
											.formTourSearchItem__content
												h4 Trekking in Sapa
													a.fal.fa-edit(href="#")
												.formTourSearchItem__description
													.formItem__left
														p Oct 9 - Oct 11
														p Adult
														p.formItem__left--left
															span 3
															span x 
															span đ 500.000
													.formTourSearchItem__priceWrapper
														p.formTourSearchItem__price 235.888 đ
									.formTourSearchItem
										label.formTourSearchItem__check
											input.d-none(type="checkbox")
											span.formTourSearchItem__check--icon
										.formTourSearchItem__wrapper
											.formTourSearchItem__content
												h4 Trekking in Sapa
													a.fal.fa-edit(href="#")
												.formTourSearchItem__description
													.formItem__left
														p Oct 9 - Oct 11
														p Adult
														p.formItem__left--left
															span 3
															span x 
															span đ 500.000
													.formTourSearchItem__priceWrapper
														p.formTourSearchItem__price 235.888 đ
						.cartAsideOption
							.cartAsideOption__title
								h4 DISCOUNT
									a.fal.fa-edit(href="#")
								.cartAsideOption__price 8.490.000 đ
								span.fas.fa-chevron-down.cartAsideOption__iconToggle
							.cartAsideOption__list
									.formTourSearchItem
										label.formTourSearchItem__check
											input.d-none(type="checkbox")
											span.formTourSearchItem__check--icon
										.formTourSearchItem__wrapper
											.formTourSearchItem__content
												h4 Trekking in Sapa
													span -5%
											.formTourSearchItem__priceWrapper
												p.formTourSearchItem__price 235.888 đ
									.formTourSearchItem
										label.formTourSearchItem__check
											input.d-none(type="checkbox")
											span.formTourSearchItem__check--icon
										.formTourSearchItem__wrapper
											.formTourSearchItem__content
												h4 Trekking in Sapa
													span -5%
											.formTourSearchItem__priceWrapper
												p.formTourSearchItem__price 235.888 đ
				.col-lg-4
					.cartAside__mobileToggle
						.cartAside__title.bg-none
							p SubTotal
							p.cartAside__totalPrice 8.490.000 đ
							span.fal.fa-chevron-up
					.cartAside.shadow--1
						.cartAside__title.bg-none
							p SubTotal
							p.cartAside__totalPrice 8.490.000 đ
						.cartAside__wrapper
							.cartAside__voucher
								p.cartAside__voucher--description Do you have a Coupon Code / Gift?
								.form__group
									label
										span.fas.fa-gift
									input.input__control(type="text" placeholder="Add voucher")
									input.btn.btn__submit(type="Button" value="Apply")
							.cartAside__buttons
								.cartAside__buttonsWrapper
									a.btn.btn__submit--reverse(href="javascript:void(0)") Next