.btn {
	cursor: pointer;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border: 0;
	white-space: nowrap;
	appearance: none;
}

.btn-contact {
	@extend .text-uppercase;
	border: 1px solid map-get($color, trang);
	color: map-get($color, trang);
	font-size: 1.4rem;
	border-radius: 8px;
	padding: 1.5rem 2.5rem;
	transition: all 0.3s ease;
	@media (max-width: 1439.98px) {
		padding: 1rem 1.5rem;
	}
	@media (max-width: 1024.98px) {
		padding: 0.75rem 1rem;
	}
	@media (min-width: 1025px) {
		&:hover {
			background-color: map-get($color, trang);
			color: map-get($color, main);
		}
	}
}

.btn__submit {
	border-radius: 8px;
	font-size: 1.4rem;
	transition: all 0.3s ease;
	box-shadow: 0px 3px 6px rgba(map-get($color, den), 0.15);
	padding: 0 30px;
	color: map-get($color, main);
	background-color: map-get($color, trang);
	border: 1px solid map-get($color, trang);
	@media (min-width: 1025px) {
		padding: 0 60px;
		&:hover {
			background-color: darken(map-get($color, trang), 6%);
		}
	}
}

.btn__submit--reverse {
	border-radius: 8px;
	font-size: 1.4rem;
	transition: all 0.3s ease;
	box-shadow: 0px 3px 6px rgba(map-get($color, den), 0.15);
	padding: 0 30px;
	color: map-get($color, trang);
	background-color: map-get($color, main);
	border: 1px solid map-get($color, main);
	@media (min-width: 1025px) {
		padding: 0 60px;
		&:hover {
			background-color: darken(map-get($color, main), 6%);
		}
	}
}

.btn__outline {
	text-transform: uppercase;
	color: map-get($color, main);
	font-size: 2rem;
	height: 80px;
	border: 1px solid map-get($color, main);
	padding: 0 114px;
	@media (max-width: 767.98px) {
		padding: 0 44px;
		height: 54px;
		font-size: 1.4rem;
	}
}

.btn-icon {
	font-size: 1.4rem;
	color: #707070;
	padding: 0 20px;
	height: 46px;
	border: 1px solid #dedede;
	border-radius: 4px;
	.icon {
		padding-right: 15px;
	}
}
