.stepBreadcrumb {
	padding-top: 30px;
	padding-bottom: 30px;
	overflow: hidden;
	ul {
		padding-left: 0;
		padding-top: 25px;
		position: relative;
		border-top: 3px solid #d6d6d6;
	}
	.stepBreadcrumb__item {
		position: relative;
		-ms-flex: 0 0 200px;
		flex: 0 0 200px;
		max-width: 200px;
		padding: 0 30px;
		&.active {
			.stepBreadcrumb__link {
				font-weight: 700;
			}
			.stepBreadcrumb__number {
				background-color: map-get($color, main);
				border: 1px solid map-get($color, main);
				color: map-get($color, trang);
			}
		}
		@media (min-width: 1025px) {
			&:first-child {
				padding-left: 0;
				&:before {
					content: '';
					background-color: map-get($color, trang);
					height: 3px;
					width: 1500px;
					right: 50%;
					top: -28px;
					position: absolute;
				}
			}
			&:last-child {
				padding-right: 0;
				&:before {
					content: '';
					background-color: map-get($color, trang);
					height: 3px;
					width: 1500px;
					left: 50%;
					top: -28px;
					position: absolute;
				}
			}
		}
		@media (max-width: 1439.98px) {
			-ms-flex: 0 0 170px;
			flex: 0 0 170px;
			max-width: 170px;
		}
		@media (max-width: 1199.98px) {
			-ms-flex: 0 0 140px;
			flex: 0 0 140px;
			max-width: 140px;
		}
	}
	.stepBreadcrumb__link {
		font-size: 1.5rem;
		color: map-get($color, text);
		white-space: nowrap;
	}
	.stepBreadcrumb__number {
		position: absolute;
		top: -28px;
		left: 50%;
		transform: translate(-50%, -50%);
		border-radius: 50%;
		width: 24px;
		height: 24px;
		background-color: map-get($color, trang);
		border: 1px solid map-get($color, text);
		font-size: 1.3rem;
	}
	@media (max-width: 1024.98px) {
		ul {
			flex-direction: column;
			padding-top: 0;
			border-top: 0;
			border-left: 3px solid #d6d6d6;
			margin-left: 20px;
		}
		.stepBreadcrumb__item {
			padding: 0;
			padding-left: 50px;
			text-align: left;
			-ms-flex-preferred-size: 0;
			flex-basis: 0;
			-ms-flex-positive: 1;
			flex-grow: 1;
			max-width: 100%;
			&:first-child,
			&:last-child {
				padding-left: 50px;
				padding-right: 0;
			}
			&:not(:last-child) {
				margin-bottom: 25px;
			}
		}
		.stepBreadcrumb__number {
			top: initial;
			left: -13px;
			top: 50%;
			transform: translateY(-50%);
		}
	}
}
