.subpage-tab-navigation {
	// padding: 20px 0 0 0;
	padding: 25px 0;
	border-bottom: 1px solid #d6d6d6;
	.subpage-tab-navigation-wrapper {
		display: flex;
		flex-wrap: wrap;
		&.has-list-button {
			@media (max-width: 1599.98px) {
				.nav__item {
					+ .nav__item {
						margin-left: 75px;
					}
				}
			}
			@media (max-width: 1439.98px) {
				.nav__item {
					+ .nav__item {
						margin-left: 50px;
					}
				}
			}
			@media (max-width: 1024.98px) {
				.nav__item {
					+ .nav__item {
						margin-left: 0;
					}
				}
			}
		}
	}
	.list-nav {
		list-style-type: none;
		display: flex;
		flex-wrap: wrap;
		padding: 0;
		// height: 100%;
		&.center {
			margin: 0 auto;
		}
		@media (max-width: 1199.98px) {
			justify-content: center;
			-ms-flex: 0 0 100%;
			-webkit-box-flex: 0;
			flex: 0 0 100%;
			max-width: 100%;
			order: 2;
			margin-top: 30px;
		}
	}
	.nav__link {
		font-size: 1.5rem;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		color: #717a85;
		text-transform: uppercase;
		padding: 0 10px;
		// padding-bottom: 30px;
		// @media (max-width: 767.98px) {
		// 	padding-bottom: 5px;
		// }
	}
	.nav__item {
		cursor: pointer;
		+ .nav__item {
			margin-left: 100px;
			@media (max-width: 1439.98px) {
				margin-left: 80px;
			}
			@media (max-width: 1199.98px) {
				margin-left: 60px;
			}
			@media (max-width: 1024.98px) {
				margin-left: 0;
				margin-top: 24px;
			}
		}
		&.active {
			position: relative;
			&:before {
				content: '';
				position: absolute;
				width: 100%;
				margin-top: 20px;
				height: 5px;
				top: 100%;
				left: 0;
				background-color: map-get($color, main);
			}
			// border-bottom: 5px solid map-get($color, main);
			// @media (max-width: 767.98px) {
			// 	border-bottom: 0;
			// 	.nav__link {
			// 		border-bottom: 3px solid map-get($color, main);
			// 	}
			// }
		}
	}
	.list-button {
		margin-left: auto;
		@media (max-width: 1199.98px) {
			order: 1;
		}
	}
	@media (max-width: 1024.98px) {
		display: none;
	}
}
.about-page {
	@media (max-width: 1024.98px) {
		.subpage-tab-navigation {
			display: none;
		}
	}
}
