.fastFacts {
	@media (max-width: 767.98px) {
		.mainWrapper {
			padding-bottom: 30px;
		}
	}
}

.fastFacts__items {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-left: 0;
	list-style-type: none;
	max-width: 1200px;
	margin: 0 auto;
	@media (max-width: 767.98px) {
		flex-direction: column;
	}
}
.fastFacts__item {
	font-size: 5.4rem;
	color: map-get($color, text);
	font-weight: 800;
	-ms-flex-preferred-size: 0;
	flex-basis: 0;
	-ms-flex-positive: 1;
	flex-grow: 1;
	max-width: 100%;
	text-align: center;
	position: relative;
	padding: 0 10px;
	span {
		display: block;
		font-weight: normal;
		font-size: 2rem;
		color: #707070;
	}
	+ .fastFacts__item {
		&:before {
			content: '';
			position: absolute;
			height: 85px;
			width: 1px;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			background-color: #d6d6d6;
			@media (max-width: 767.98px) {
				content: none;
			}
		}
		@media (max-width: 767.98px) {
			margin-top: 15px;
		}
	}
	@media (max-width: 1199.98px) {
		font-size: 4.8rem;
	}
	@media (max-width: 767.98px) {
		font-size: 4.2rem;
	}
	@media (max-width: 575.98px) {
		font-size: 3.2rem;
		span {
			font-size: 1.8rem;
		}
	}
}
