section.help.pd-80
	.container-fluid
		.mainWrapper
			h2.main-title Hello! How can we help?
			form(action="#")
				.form__group--type-1
					input.form__control(type="text" placeholder="Your country")
					button.btn__submit--reverse.text-uppercase Search
			p.text-center Can’t find an answer? Call us (+84) 90 341 1916 or email info@eratour.vn
			ul.form__question
				li.questionItem.active
					p.form__question--content Privacy Policy
					.list__question
						p You must be aged 18 years or over to book with us . Our company does not accept responsibility or liability for any loss, damage or inconvenience occurring as a consequence of any user who uses information in our website.
						p We are protected by Explore Real Asia. Explore Real Asia is a registered trade mark. Any copyright material used by any third party without permission is prohibited and illegal. The company reserves the right to prosecute any unauthorized use of our trade mark through the Vietnam legal system.
						p Any information on our website is unique and was created by, and remains the property of, ourselves. Copying or editing of information contained in this website is not allowed without authorization, including any travel information updates from our company or the National Tourism Authority regarding all of the destinations we are promoting.
				li.questionItem  
					p.form__question--content Terms & Conditions & Payment method
					.list__question
						p You must be aged 18 years or over to book with us . Our company does not accept responsibility or liability for any loss, damage or inconvenience occurring as a consequence of any user who uses information in our website.
						p We are protected by Explore Real Asia. Explore Real Asia is a registered trade mark. Any copyright material used by any third party without permission is prohibited and illegal. The company reserves the right to prosecute any unauthorized use of our trade mark through the Vietnam legal system.
						p Any information on our website is unique and was created by, and remains the property of, ourselves. Copying or editing of information contained in this website is not allowed without authorization, including any travel information updates from our company or the National Tourism Authority regarding all of the destinations we are promoting.
				li.questionItem  
					p.form__question--content Why Book With Us ?
					.list__question
						p You must be aged 18 years or over to book with us . Our company does not accept responsibility or liability for any loss, damage or inconvenience occurring as a consequence of any user who uses information in our website.
						p We are protected by Explore Real Asia. Explore Real Asia is a registered trade mark. Any copyright material used by any third party without permission is prohibited and illegal. The company reserves the right to prosecute any unauthorized use of our trade mark through the Vietnam legal system.
						p Any information on our website is unique and was created by, and remains the property of, ourselves. Copying or editing of information contained in this website is not allowed without authorization, including any travel information updates from our company or the National Tourism Authority regarding all of the destinations we are promoting.
				li.questionItem  
					p.form__question--content Our Guide Team
					.list__question
						p You must be aged 18 years or over to book with us . Our company does not accept responsibility or liability for any loss, damage or inconvenience occurring as a consequence of any user who uses information in our website.
						p We are protected by Explore Real Asia. Explore Real Asia is a registered trade mark. Any copyright material used by any third party without permission is prohibited and illegal. The company reserves the right to prosecute any unauthorized use of our trade mark through the Vietnam legal system.
						p Any information on our website is unique and was created by, and remains the property of, ourselves. Copying or editing of information contained in this website is not allowed without authorization, including any travel information updates from our company or the National Tourism Authority regarding all of the destinations we are promoting.
				li.questionItem  
					p.form__question--content Climate
					.list__question
						p You must be aged 18 years or over to book with us . Our company does not accept responsibility or liability for any loss, damage or inconvenience occurring as a consequence of any user who uses information in our website.
						p We are protected by Explore Real Asia. Explore Real Asia is a registered trade mark. Any copyright material used by any third party without permission is prohibited and illegal. The company reserves the right to prosecute any unauthorized use of our trade mark through the Vietnam legal system.
						p Any information on our website is unique and was created by, and remains the property of, ourselves. Copying or editing of information contained in this website is not allowed without authorization, including any travel information updates from our company or the National Tourism Authority regarding all of the destinations we are promoting.
				li.questionItem  
					p.form__question--content F&Q
					.list__question
						p You must be aged 18 years or over to book with us . Our company does not accept responsibility or liability for any loss, damage or inconvenience occurring as a consequence of any user who uses information in our website.
						p We are protected by Explore Real Asia. Explore Real Asia is a registered trade mark. Any copyright material used by any third party without permission is prohibited and illegal. The company reserves the right to prosecute any unauthorized use of our trade mark through the Vietnam legal system.
						p Any information on our website is unique and was created by, and remains the property of, ourselves. Copying or editing of information contained in this website is not allowed without authorization, including any travel information updates from our company or the National Tourism Authority regarding all of the destinations we are promoting.