.blogWrapper.blogWrapper--detail
	.container-fluid
		.mainWrapper
			.row
				.col-lg-4.col-xl-3
					include ../layouts/_blog-navigation
					include ../layouts/_blog-popular
				.col-lg-8.col-xl-9.pb-80
					.blogDetail
						h1.blogDetail__title Climbing Vietnam’s fourth highest mountain peak, Bach Moc Luong Tu
						.tourNewsItem__review
							.tourNewsItem__reviewContent
								p By Xu Kien - July 26, 2020
						.tourNewsItem__socials
							a(href="#")
								img(src="./assets/icons/news_facebook.svg")
							a(href="#")
								img(src="./assets/icons/news_twitter.svg")
							a(href="#")
								img(src="./assets/icons/news_other.svg")
						.blogDetail__content.clearfix
							p 
								b Viet Nam’s diverse markets stretch from Ha Noi to Ho Chi Minh City to offer a very unique shopping experience. A walk around the Vietnamese markets gives a perfect opportunity to see some exotic, wondrous and crazy delights.Here are a few of the top things to buy in Viet Nam
							p Finally, after a difficult trek and heaps of effort I reached the top of Bach Moc Luong Tu, gripping the peak with my bare hands. For the first time in my life, I was drained of energy from a mountain climb but also faced with a sublime panoramic view of the Vietnamese border.
							p Bach Moc Luong Tu, 3,046 m high, is Vietnam’s fourth highest mountain peak, after Fansipan, Putaleng and Pusilung, all in northern Vietnam. The mountain, locally called Ky Quan San after the ethnic village at its base, lies between the northwestern provinces of Lai Chau and Lao Cai.
							p There are two ways to conquer Bach Moc Luong Tu. The first route departs from Sang Ma Sao Ward of Bat Xat District in Lao Cai Province whilst the second starts at Sin Sui Ho Ward of Phong Tho District in Lai Chau Province.
							p The former is recommended and preferred since the route via Lai Chau Province passes by Chinese territory and requires a special border pass. When visiting Bach Moc Luong Tu, most hikers opt for the first trail from Sang Ma Sao Ward to avoid the additional paperwork.
							p Our sherpa during the hike was A Tru, a H’mong local from Sang Ma Sao Village. A Tru has over seven years of experience and knowledge in guiding travelers to northern mountains like Bach Moc Luong Tu, Nhiu Co San, Cu Nhu San, Pa Vi, Lao Than, Ta Lien Son, Putaleng, and Ngu Chi Son. Therefore, he knew his way around Bach Moc Luong Tu like the back of his hand.
							p That morning I woke up early in Y Ty Commune then walked to Sang Ma Sao Village in Muong Hum Commune. The route was fairly easy. At 8 a.m., I arrived at A Tru’s house and waited for the rest of my crew to arrive.
							img(src="./assets/blog/1.png", alt="")
							p Bach Moc Luong Tu, 3,046 m high, is Vietnam’s fourth highest mountain peak, after Fansipan, Putaleng and Pusilung, all in northern Vietnam. The mountain, locally called Ky Quan San after the ethnic village at its base, lies between the northwestern provinces of Lai Chau and Lao Cai.
							p There are two ways to conquer Bach Moc Luong Tu. The first route departs from Sang Ma Sao Ward of Bat Xat District in Lao Cai Province whilst the second starts at Sin Sui Ho Ward of Phong Tho District in Lai Chau Province.
							p The former is recommended and preferred since the route via Lai Chau Province passes by Chinese territory and requires a special border pass. When visiting Bach Moc Luong Tu, most hikers opt for the first trail from Sang Ma Sao Ward to avoid the additional paperwork.
							p Our sherpa during the hike was A Tru, a H’mong local from Sang Ma Sao Village. A Tru has over seven years of experience and knowledge in guiding travelers to northern mountains like Bach Moc Luong Tu, Nhiu Co San, Cu Nhu San, Pa Vi, Lao Than, Ta Lien Son, Putaleng, and Ngu Chi Son. Therefore, he knew his way around Bach Moc Luong Tu like the back of his hand.
							p That morning I woke up early in Y Ty Commune then walked to Sang Ma Sao Village in Muong Hum Commune. The route was fairly easy. At 8 a.m., I arrived at A Tru’s house and waited for the rest of my crew to arrive.
							img(src="./assets/blog/1.png", alt="")
							p Bach Moc Luong Tu, 3,046 m high, is Vietnam’s fourth highest mountain peak, after Fansipan, Putaleng and Pusilung, all in northern Vietnam. The mountain, locally called Ky Quan San after the ethnic village at its base, lies between the northwestern provinces of Lai Chau and Lao Cai.
							p There are two ways to conquer Bach Moc Luong Tu. The first route departs from Sang Ma Sao Ward of Bat Xat District in Lao Cai Province whilst the second starts at Sin Sui Ho Ward of Phong Tho District in Lai Chau Province.
							p The former is recommended and preferred since the route via Lai Chau Province passes by Chinese territory and requires a special border pass. When visiting Bach Moc Luong Tu, most hikers opt for the first trail from Sang Ma Sao Ward to avoid the additional paperwork.
							p Our sherpa during the hike was A Tru, a H’mong local from Sang Ma Sao Village. A Tru has over seven years of experience and knowledge in guiding travelers to northern mountains like Bach Moc Luong Tu, Nhiu Co San, Cu Nhu San, Pa Vi, Lao Than, Ta Lien Son, Putaleng, and Ngu Chi Son. Therefore, he knew his way around Bach Moc Luong Tu like the back of his hand.
							p That morning I woke up early in Y Ty Commune then walked to Sang Ma Sao Village in Muong Hum Commune. The route was fairly easy. At 8 a.m., I arrived at A Tru’s house and waited for the rest of my crew to arrive.
							img(src="./assets/blog/1.png", alt="")
							p Bach Moc Luong Tu, 3,046 m high, is Vietnam’s fourth highest mountain peak, after Fansipan, Putaleng and Pusilung, all in northern Vietnam. The mountain, locally called Ky Quan San after the ethnic village at its base, lies between the northwestern provinces of Lai Chau and Lao Cai.
							p There are two ways to conquer Bach Moc Luong Tu. The first route departs from Sang Ma Sao Ward of Bat Xat District in Lao Cai Province whilst the second starts at Sin Sui Ho Ward of Phong Tho District in Lai Chau Province.
							p The former is recommended and preferred since the route via Lai Chau Province passes by Chinese territory and requires a special border pass. When visiting Bach Moc Luong Tu, most hikers opt for the first trail from Sang Ma Sao Ward to avoid the additional paperwork.
							p Our sherpa during the hike was A Tru, a H’mong local from Sang Ma Sao Village. A Tru has over seven years of experience and knowledge in guiding travelers to northern mountains like Bach Moc Luong Tu, Nhiu Co San, Cu Nhu San, Pa Vi, Lao Than, Ta Lien Son, Putaleng, and Ngu Chi Son. Therefore, he knew his way around Bach Moc Luong Tu like the back of his hand.
							p That morning I woke up early in Y Ty Commune then walked to Sang Ma Sao Village in Muong Hum Commune. The route was fairly easy. At 8 a.m., I arrived at A Tru’s house and waited for the rest of my crew to arrive.
					.table__tip
						.tip__title
							p Tips for you
							h3 Before traveling
						.table
							table
								tr
									th Transportation
									td If departing from Sa Pa Town or Y Ty Commune, you can either rent a motorbike or hop on a coach to reach the Muong Hum intersection. The road is wide enough for a six-seater car. However, a rental motorbike is recommended since the path is beautiful and you might want to stop along the way for some pictures.
								tr
									th When to go
									td The most optimal period for your Bach Moc Luong Tu conquest is from August to May. The rainy season lasts from June to July during which the trails are slippery and dangerous. July is to be especially avoided since the winds are extremely strong and violent.
								tr
									th Guide/porter
									td There are two reasons why you need to hire a porter for your hike. Firstly, the trails can get deadly dangerous. Secondly, some have reportedly climbed the mountain alone only to mysteriously disappear without ever being found. Also, porters are skilled experts and can prevent disorientation during the route. A Tru is our recommendation since he was very friendly and enthusiastic during our trip. His contact number is 0914 402 295.
								tr
									th Accommodation
									td At an altitude of 2,100 m, there are many H’mong huts where one can spend the night. These huts are fully equipped with bedding and sleeping bags. An additional cost of VND50,000 ($2) is charged for a shower and a medicinal foot soak costs VND20,000 ($0.9).
								tr
									th Food
									td All of our meals were made with local ingredients from the village including livestock like chicken and pork, forest vegetables, corn wine, and rice wine. For breakfast we had rice porridge, fried rice, and rice balls with sesame salt.
								tr
									th Duration
									td For those who are less active with less stamina, a three-day and two-night trip is recommended. More active and stronger hikers can opt for a two-day and one-night trip.
								tr
									th Cost
									td The cost is VND1.4 million ($60) for the trip if you depart from Sa Pa. If you choose to be picked up by a porter from Muong Hum, the cost is less at VND900,000 ($39).
								tr
									th Hiking gear
									td  You will need trekking poles, hiking shoes, hiking gloves, a wide-brim hat, flashlight, and medicine.