.tourDetailType
	.tourDetailType__title
		h2.tourDetail__title Car Types
	.tourDetailType__list
		label.form__checkbox--custom-1.tourDetailType__checkbox
			input(type="radio" name="carType")
			.tourDetailType__content
				h4
					b 4 seats
				p
					b 888.500 đ
					span Ngày
		label.form__checkbox--custom-1.tourDetailType__checkbox
			input(type="radio" name="carType")
			.tourDetailType__content
				h4
					b 8 seats
				p
					b 888.500 đ
					span Ngày
		label.form__checkbox--custom-1.tourDetailType__checkbox
			input(type="radio" name="carType")
			.tourDetailType__content
				h4
					b 16 seats
				p
					b 888.500 đ
					span Ngày
		label.form__checkbox--custom-1.tourDetailType__checkbox
			input(type="radio" name="carType")
			.tourDetailType__content
				h4
					b 24 seats
				p
					b 888.500 đ
					span Ngày