//- .tourDetail__information.tourDetail__section.tourDetail__information--list
//- 	.tourDetail__informationTitleBlock
//- 		h2.tourDetail__title Facilities
//- 	.tourDetail__content
//- 		.row
//- 			.col-sm-6
//- 				ul.tourDetail__list
//- 					li Free WiFi
//- 					li Airport shuttle
//- 					li Family rooms
//- 			.col-sm-6
//- 				ul.tourDetail__list
//- 					li Non-smoking rooms
//- 					li 24-hour front desk
//- 					li Terrace
//- .tourDetail__information.tourDetail__section.tourDetail__information--list
//- 	.tourDetail__informationTitleBlock
//- 		h2.tourDetail__title Facilities
//- 	.tourDetail__content
//- 		ul.tourDetail__list
//- 			li He love it, It’s keep fresh and He get a lot of knowledge.
//- 			li It’s easy, cheap and free.
//- 			li His mother is close to his. They talk many time in a day.

.tourDetail__information.tourDetail__section
	.tourDetail__informationTitleBlock
		h2.tourDetail__title Car Types
		p  Car rental fees is calculated by the hour and journey.
	.tourDetail__content
		table.table-car-type
			thead
				tr
					th Number of seats
					th Prices (USD)
					th Prices (VNĐ)
			tbody
				-for(i=0;i<4;i++)
					tr
						td 4 seats
						td $81
						td đ 1,877,000
	.note
		p.cl-main * Server Time 8 Hour
		p.cl-main  Surcharge overtime & km: 9 usd/1 hour & 65cent/km
.tourDetail__information.tourDetail__section.tourDetail__information--list
	.tourDetail__informationTitleBlock
		h2.tourDetail__title Inclusions & Exclusion
	.tourDetail__content
		.group-content.row
			.content__item.col-3xl-6
				h5 Cruise Policy
				ul.tourDetail__list
					li Driver
					li Driver expense
					li Parking and airport fee
					li Water
			.content__item.col-3xl-6
				h5 Cruise Policy
				ul.tourDetail__list.style-2
					li Entrance fee
					li Tour guide
					li Acommodation
					li Other service not clear mention.
.tourDetail__information.tourDetail__section.tourDetail__information--list
	.tourDetail__informationTitleBlock
		h2.tourDetail__title Important Info
	.tourDetail__content
		.group-content.row
			.content__item.col-3xl-12
				h5 Cancelation policy:
				ul.tourDetail__list.style-4.no-line
					li No charge for cancellation before a day,deposit in advance will be off 5% and free for a local sim card of cell phone
					li For further information, please contact us at : info@eratour.vn
					li Hotline : (+84-9) 8877 6874