.tourDetail__information.tourDetail__section.tourDetail__information--initerary(data-id="tabSection-2")
	.tourDetail__informationTitleBlock
		h2.tourDetail__title Initerary
		.tourDetail__contentToggle
			span.fs-16.fw-700 See more
	.tourDetail__content
		.tourDetail__table
			.tourDetail__table--head
				.tourDetail__table--tr
					.tourDetail__table--th Day 1
					.tourDetail__table--td 
						span Hue City Tour
						span.fal.fa-chevron-down
			.tourDetail__table--body
				.tourDetail__table--tr
					.tourDetail__table--th 8:00 - 10:00
					.tourDetail__table--td
						.tourDetailTableItem
							.tourDetailTableItem__img
								img.fullsize.object-cover.lazyload.blur-up(data-src="./assets/destinations/5.jpg")
							.tourDetailTableItem__content
								h4 Chua Thien Mu
								p Complex of Hue Monuments lies along the Perfume River in Hue City and some adjacent areas of Thua Thien Hue Province. Hue City constitutes the cultural, political and economic centre of the province, and was the old imperial city of Vietnam under the Nguyen Dynasty.
				.tourDetail__table--tr
					.tourDetail__table--th 10:00 - 14:00
					.tourDetail__table--td
						.tourDetailTableItem
							.tourDetailTableItem__img
								img.fullsize.object-cover.lazyload.blur-up(data-src="./assets/destinations/5.jpg")
							.tourDetailTableItem__content
								h4 Chua Thien Mu
								p Complex of Hue Monuments lies along the Perfume River in Hue City and some adjacent areas of Thua Thien Hue Province. Hue City constitutes the cultural, political and economic centre of the province, and was the old imperial city of Vietnam under the Nguyen Dynasty.
.tourDetail__information.tourDetail__section.tourDetail__information--list(data-id="tabSection-3")
	.tourDetail__informationTitleBlock
		h2.tourDetail__title Inclusions & Exclusion
	.tourDetail__content
		ul.tourDetail__list
			li Professional English-speaking guide
			li Local lunch
			li Bottle of water
			li All entrance fees
			li Air-conditioned van
			li Car insurance
			li Hotel pickup and drop-off service
			li Boat ticket to Pak Ou Caves
			li Life jacket on boat
			li German, Spanish, French, Japanese, Chinese, Korean, Russian and Vietnamese-speaking guides (available as add-ons), Korean, Russian and Vietnamese-speaking guides (available as add-ons)
.tourDetail__information.tourDetail__section.tourDetail__information--list(data-id="tabSection-4")
	.tourDetail__informationTitleBlock
		h2.tourDetail__title Important Info
	.tourDetail__content
		ul.tourDetail__list
			li Professional English-speaking guide
			li Local lunch
			li Bottle of water
			li All entrance fees
			li Air-conditioned van
			li Car insurance
			li Hotel pickup and drop-off service
			li Boat ticket to Pak Ou Caves
			li Life jacket on boat
			li German, Spanish, French, Japanese, Chinese, Korean, Russian and Vietnamese-speaking guides (available as add-ons), Korean, Russian and Vietnamese-speaking guides (available as add-ons)