.filterContainer
	.filter__mobileToggle.mobile
		span Blog Categories
		span.fal.fa-filter
	.filter__wrapper
		.filter__close.mobile
			span.fal.fa-times
		.tourNewsNavigation
			.tourNewsNavigation__title
				p Destination
			.tourNewsNavigation__list
				.tourNewsNavigation__item
					a.tourNewsNavigation__link(href="#") Vietnam
				.tourNewsNavigation__item
					a.tourNewsNavigation__link(href="#") Laos
				.tourNewsNavigation__item
					a.tourNewsNavigation__link(href="#") Cambodia
				.tourNewsNavigation__item
					a.tourNewsNavigation__link(href="#") Myanma
				.tourNewsNavigation__item
					a.tourNewsNavigation__link.tourNewsNavigation--seeAll(href="#") See All 
		.tourNewsNavigation
			.tourNewsNavigation__title
				p Categories
			.tourNewsNavigation__list
				.tourNewsNavigation__item
					a.tourNewsNavigation__link(href="#") Vietnam
				.tourNewsNavigation__item
					a.tourNewsNavigation__link(href="#") Laos
				.tourNewsNavigation__item
					a.tourNewsNavigation__link(href="#") Cambodia
				.tourNewsNavigation__item
					a.tourNewsNavigation__link(href="#") Myanma
				.tourNewsNavigation__item
					a.tourNewsNavigation__link.tourNewsNavigation--seeAll(href="#") See All 
		.tourNewsNavigation.tourNewsNavigation--popular
			.tourNewsNavigation__title
				p Popular Blogs
			.tourNewsNavigation__list.tourNewsNavigation__list--popular
				a.tourNewsNavigationItem(href="blog-detail.html")
					.tourNewsNavigationItem__img
						img.fullsize.object-cover(src="./assets/blog/1.png")
					.tourNewsNavigationItem__content
						h4.tourNewsItem__title Ha Long Bay, Vietnam
						.tourNewsItem__review
							.tourNewsItem__reviewContent
								p By Xu Kien - July 26, 2020
				a.tourNewsNavigationItem(href="blog-detail.html")
					.tourNewsNavigationItem__img
						img.fullsize.object-cover(src="./assets/blog/1.png")
					.tourNewsNavigationItem__content
						h4.tourNewsItem__title Ha Long Bay, Vietnam
						.tourNewsItem__review
							.tourNewsItem__reviewContent
								p By Xu Kien - July 26, 2020
				a.tourNewsNavigationItem(href="blog-detail.html")
					.tourNewsNavigationItem__img
						img.fullsize.object-cover(src="./assets/blog/1.png")
					.tourNewsNavigationItem__content
						h4.tourNewsItem__title Ha Long Bay, Vietnam
						.tourNewsItem__review
							.tourNewsItem__reviewContent
								p By Xu Kien - July 26, 2020
//- .tourNewsNavigation
//- 	.tourNewsNavigation__title
//- 		p Destination
//- 	.tourNewsNavigation__list
//- 		.tourNewsNavigation__item
//- 			a.tourNewsNavigation__link(href="#") Vietnam
//- 		.tourNewsNavigation__item
//- 			a.tourNewsNavigation__link(href="#") Laos
//- 		.tourNewsNavigation__item
//- 			a.tourNewsNavigation__link(href="#") Cambodia
//- 		.tourNewsNavigation__item
//- 			a.tourNewsNavigation__link(href="#") Myanma
//- 		.tourNewsNavigation__item
//- 			a.tourNewsNavigation__link.tourNewsNavigation--seeAll(href="#") See All 
//- .tourNewsNavigation
//- 	.tourNewsNavigation__title
//- 		p Categories
//- 	.tourNewsNavigation__list
//- 		.tourNewsNavigation__item
//- 			a.tourNewsNavigation__link(href="#") Vietnam
//- 		.tourNewsNavigation__item
//- 			a.tourNewsNavigation__link(href="#") Laos
//- 		.tourNewsNavigation__item
//- 			a.tourNewsNavigation__link(href="#") Cambodia
//- 		.tourNewsNavigation__item
//- 			a.tourNewsNavigation__link(href="#") Myanma
//- 		.tourNewsNavigation__item
//- 			a.tourNewsNavigation__link.tourNewsNavigation--seeAll(href="#") See All 