.tourNewsNavigation.tourNewsNavigation--popular
	.tourNewsNavigation__title
		p Popular Blogs
	.tourNewsNavigation__list.tourNewsNavigation__list--popular
		a.tourNewsNavigationItem(href="blog-detail.html")
			.tourNewsNavigationItem__img
				img.fullsize.object-cover(src="./assets/blog/1.png")
			.tourNewsNavigationItem__content
				h4.tourNewsItem__title Ha Long Bay, Vietnam
				.tourNewsItem__review
					.tourNewsItem__reviewContent
						p By Xu Kien - July 26, 2020
		a.tourNewsNavigationItem(href="blog-detail.html")
			.tourNewsNavigationItem__img
				img.fullsize.object-cover(src="./assets/blog/1.png")
			.tourNewsNavigationItem__content
				h4.tourNewsItem__title Ha Long Bay, Vietnam
				.tourNewsItem__review
					.tourNewsItem__reviewContent
						p By Xu Kien - July 26, 2020
		a.tourNewsNavigationItem(href="blog-detail.html")
			.tourNewsNavigationItem__img
				img.fullsize.object-cover(src="./assets/blog/1.png")
			.tourNewsNavigationItem__content
				h4.tourNewsItem__title Ha Long Bay, Vietnam
				.tourNewsItem__review
					.tourNewsItem__reviewContent
						p By Xu Kien - July 26, 2020