footer
	.container-fluid
		.mainWrapper.pt-80
			.row
				.col-md-6.col-xl-3.fs-16
					h4.text-uppercase ERA CO.,LTD
					p Address: 34 Lo 7, Den Lu 1, Hoang Mai Dist, Hanoi, Vietnam
					p Email: info@eratour.vn
					p Phone: (+84-24) 3622 7195 / 3622 7752
					p Hotline: +84 90 341 1916
					br
					h4.text-uppercase ERIC MICHELI
					p Phone: +33 06 11 64 77 25
					p Email: eric@explorerealasia.com
					ul.footer__socials.d-flex.align-center
						li
							a(href="#")
								em.fab.fa-facebook-f
						li
							a(href="#")
								em.fab.fa-twitter
						li
							a(href="#")
								em.fab.fa-youtube
						li
							a(href="#")
								em.fab.fa-instagram
						li
							a(href="#")
								em.fab.fa-tripadvisor
				.col-md-6.col-xl-3.fs-16
					h4.text-uppercase OUR INDUSTRY AFFILIATIONS AND PARTNERSHIPS
					p And we are really proud of them
					br
					.footer__list
						a.d-flex.align-center(href="#") SHIFA TRAVELS 
							span.fal.fa-external-link-alt
						a.d-flex.align-center(href="#") VNHOLIDAYS.COM 
							span.fal.fa-external-link-alt
						a.d-flex.align-center(href="#") COUNTRY TRAVEL DISCOVERIES 
							span.fal.fa-external-link-alt
						a.d-flex.align-center(href="#") VIETNAM TIMELESS CHARM 
							span.fal.fa-external-link-alt
				.col-md-6.col-xl-3.fs-16
					h4.text-uppercase Stay in the loop
					p The latest travel tips and insider insights delivered straight to your inbox.
					form.footer__form
						.form-group
							input.form-control(type="text" placeholder="First name")
						.form-group
							input.form-control(type="text" placeholder="Last name")
						.form-group
							input.form-control(type="text" placeholder="Email")
						.form-button
							button.btn.btn__submit Subscribe
				.col-md-6.col-xl-3
					img(src="./assets/footer_rate.jpg")
			.copy-right
				.payment
					img(src="./assets/payment.png", alt="")
				.list-link
					.text__item
						a(href="#") © 2020 ERA. All rights reserved
					.text__item
						a(href="#") Privacy
					.text__item
						a(href="#") Terms
					.text__item
						a(href="#") Sitemap