#loading-container
	.loading-wrapper
		#loading-logo
			img(src="./assets/loading.svg")
		//- .progress
		//- 	#progress-bar
		//- .progress-status
		//- 	| Loading: 
		//- 	span#progress-percentage 0
		//- 	| %