section.aboutUs.pt-80(data-id="about-1")
	.container-fluid
		.mainWrapper
			h2.main-title About us
			.aboutUs__content.text-center
				p ERA (Explore Real Asia) provides a full Service Destination Management Companies, established in Hanoi since 2006. The ERA team has expanded our global tourism business by being Eastbound Vietnam as a part of group Eastbound Discoveries India in 2019. The ERA team has worked on leisure travelers and group tours who seek precious experience created with love and attention and 4 up to 5-star service, focused on: Vietnam - Laos - Cambodia – Myanmar – Thailand and India sub-continent. With a professional, self - motivated team, ERA have been building a reputation in Vietnam and global business tourism with oversea partners in France, Norway, Belgium, Hungary, the Middle East and more markets from the group. 