section.ourTeam.pt-80
	.container-fluid
		.mainWrapper
			h2.main-title Our team
			.ourTeam__slideWrapper
				.index__swiper-navigations.desktop
					.swiper__btn--prev.swiper__btn.swiper__btn--1.shadow--1
						.fal.fa-chevron-left
					.swiper__btn--next.swiper__btn.swiper__btn--1.shadow--1
						.fal.fa-chevron-right
				.swiper-container
					.swiper-wrapper
						.swiper-slide
							figure.ourTeamItem
								.ourTeamItem__img.overflow-hidden
									img.fullsize(src="./assets/about/1.jpg", alt="")
								figcaption.ourTeamItem__caption
									h3.ourTeamItem__name Mr. Hong Nguyen
									p.ourTeamItem__regency Co-founder $ CEO
						.swiper-slide
							figure.ourTeamItem
								.ourTeamItem__img.overflow-hidden
									img.fullsize(src="./assets/about/2.jpg", alt="")
								figcaption.ourTeamItem__caption
									h3.name.ourTeamItem__name Mr.Ha Trang
									p.ourTeamItem__regency Co-founder $ CEO
						.swiper-slide
							figure.ourTeamItem
								.ourTeamItem__img.overflow-hidden
									img.fullsize(src="./assets/about/3.jpg", alt="")
								figcaption.ourTeamItem__caption
									h3.name.ourTeamItem__name Mr. Duy Nguyen
									p.ourTeamItem__regency Co-founder $ CEO
						.swiper-slide
							figure.ourTeamItem
								.ourTeamItem__img.overflow-hidden
									img.fullsize(src="./assets/about/4.jpg", alt="")
								figcaption.ourTeamItem__caption
									h3.ourTeamItem__name Mr. Mai Ha
									p.ourTeamItem__regency Co-founder $ CEO
						.swiper-slide
							figure.ourTeamItem
								.ourTeamItem__img.overflow-hidden
									img.fullsize(src="./assets/about/1.jpg", alt="")
								figcaption.ourTeamItem__caption
									h3.ourTeamItem__name Mr. Hong Nguyen
									p.ourTeamItem__regency Co-founder $ CEO
						.swiper-slide
							figure.ourTeamItem
								.ourTeamItem__img.overflow-hidden
									img.fullsize(src="./assets/about/2.jpg", alt="")
								figcaption.ourTeamItem__caption
									h3.ourTeamItem__name Mr. Hong Nguyen
									p.ourTeamItem__regency Co-founder $ CEO
					.swiper__pagination.index__swiper__pagination.mobile