section.fastFacts.pt-80
	.container-fluid
		.mainWrapper.line
			h2.main-title Fast Facts
			ul.fastFacts__items
				li.fastFacts__item 1M+
					span Customers on the worlds
				li.fastFacts__item 100K+
					span Cities with Era listings
				li.fastFacts__item 50+
					span Countries and regions with Era