section.ourCommitment.pd-80
	.container-fluid
		.mainWrapper
			h2.main-title Our commitment
			.ourCommitment__content.text-center
				p ERA (Explore Real Asia)’s team guiding principles are to be: 
				p Be demanding of ourselves 
				p Strive for Efficiency 
				p Give Originality 
				p Offer unrivalled local expertise and contacts 
				p Provide Quality and integrity
			.ourCommitment__subTitle.text-center
				h3 “ERA (Explore Real Asia) specializes in satisfying discerning clients in specific markets.”
section.SubpageBanner.aboutSubBanner
	.image.overflow-hidden
		img.object-cover.lazyload.blur-up(src="./assets/about/5.png", alt="subpage")
	.text
		h1.title We are a strong team