section.story.pt-80(data-id="about-2")
	.container-fluid
		.mainWrapper.line
			h2.main-title The Era Story
			.story__years
				.swiper-container
					.swiper-wrapper
						.swiper-slide
							.yearItem
								.yearItem__icon
								.yearItem__text 2006
						.swiper-slide
							.yearItem
								.yearItem__icon
								.yearItem__text 2007
						.swiper-slide
							.yearItem
								.yearItem__icon
								.yearItem__text 2009
						.swiper-slide
							.yearItem
								.yearItem__icon
								.yearItem__text 2010
						.swiper-slide
							.yearItem
								.yearItem__icon
								.yearItem__text 2013
						.swiper-slide
							.yearItem
								.yearItem__icon
								.yearItem__text 2015
						.swiper-slide
							.yearItem
								.yearItem__icon
								.yearItem__text 2017
						.swiper-slide
							.yearItem
								.yearItem__icon
								.yearItem__text 2019
						.swiper-slide
							.yearItem
								.yearItem__icon
								.yearItem__text 2020
			.story__itemsPerYear
				.swiper-container.pt-50
					.swiper-wrapper
						.swiper-slide
							figure.perYear__item
								.image
									a(href="#")
										img(src="./assets/about/6.png", alt="")
								figcaption
									h3.season Autumn 2006
									a(href="#").name-event Company establishment
						.swiper-slide
							figure.perYear__item
								.image
									a(href="#")
										img(src="./assets/about/6.png", alt="")
								figcaption
									h3.season Autumn 2007
									a(href="#").name-event Company establishment
						.swiper-slide
							figure.perYear__item
								.image
									a(href="#")
										img(src="./assets/about/6.png", alt="")
								figcaption
									h3.season Autumn 2009
									a(href="#").name-event Company establishment
						.swiper-slide
							figure.perYear__item
								.image
									a(href="#")
										img(src="./assets/about/6.png", alt="")
								figcaption
									h3.season Autumn 2010
									a(href="#").name-event Company establishment
						.swiper-slide
							figure.perYear__item
								.image
									a(href="#")
										img(src="./assets/about/6.png", alt="")
								figcaption
									h3.season Autumn 2013
									a(href="#").name-event Company establishment
						.swiper-slide
							figure.perYear__item
								.image
									a(href="#")
										img(src="./assets/about/6.png", alt="")
								figcaption
									h3.season Autumn 2015
									a(href="#").name-event Company establishment
						.swiper-slide
							figure.perYear__item
								.image
									a(href="#")
										img(src="./assets/about/6.png", alt="")
								figcaption
									h3.season Autumn 2017
									a(href="#").name-event Company establishment
						.swiper-slide
							figure.perYear__item
								.image
									a(href="#")
										img(src="./assets/about/6.png", alt="")
								figcaption
									h3.season Autumn 2019
									a(href="#").name-event Company establishment
						.swiper-slide
							figure.perYear__item
								.image
									a(href="#")
										img(src="./assets/about/6.png", alt="")
								figcaption
									h3.season Autumn 2020
									a(href="#").name-event Company establishment
