section.ab-6.pt-80(data-id="about-3")
	.container-fluid
		.mainWrapper.line
			h2.main-title  Testimonial
			.slide-rating.review__slideWrapper 
				.index__swiper-navigations.desktop
					.swiper__btn--prev.swiper__btn.swiper__btn--1.shadow--1
						.fal.fa-chevron-left
					.swiper__btn--next.swiper__btn.swiper__btn--1.shadow--1
						.fal.fa-chevron-right
				.swiper-container
					.swiper-wrapper
						- for(i=1;i<6;i++)
							.swiper-slide
								.box-wrapper
									.rating-wrapper
										.image-avatar
											img(src="./assets/about/7.png", alt="")
										.profile
											h4.name Mina Young
											p.nationality VietNam
											.rating
												ul
													li
														em.fas.fa-star
													li
														em.fas.fa-star
													li
														em.fas.fa-star
													li
														em.fas.fa-star
													li
														em.fas.fa-star
									.description
										h4.title Well done route, captain - SUPER!
										.content
											p It is very welcoming and friendly, which lifts the mood and the series of houses of wonderful architecture seems even more beautiful and leaves just a fabulous impression of Amsterdam. Ron and Nel in the form of a cheerful dialogue told interesting stories about Amsterdam and its inhabitants. Loved the tour and attractive price…
										time March 5,2020