section.ab-7.pt-80(data-id="about-4")
	.container-fluid
		.mainWrapper.line
			h2.main-title Gallery
			.slide-image
				.index__swiper-navigations.desktop
					.swiper__btn--prev.swiper__btn.swiper__btn--1.shadow--1
						.fal.fa-chevron-left
					.swiper__btn--next.swiper__btn.swiper__btn--1.shadow--1
						.fal.fa-chevron-right
				.swiper-container
					.swiper-wrapper
						.swiper-slide
							.image
								a(data-fancybox="gallery_1" href="./assets/about/8.png")
									img.fullsize(src="./assets/about/8.png", alt="")
						.swiper-slide
							.image
								a(data-fancybox="gallery_2" href="./assets/about/9.png")
									img.fullsize(src="./assets/about/9.png", alt="")
						.swiper-slide
							.image
								a(data-fancybox="gallery_3" href="./assets/about/10.png")
									img.fullsize(src="./assets/about/10.png", alt="")
						.swiper-slide
							.image
								a(data-fancybox="gallery_4" href="./assets/about/11.png")
									img.fullsize(src="./assets/about/11.png", alt="")
						.swiper-slide
							.image
								a(data-fancybox="gallery_5" href="./assets/about/11.png")
									img.fullsize(src="./assets/about/11.png", alt="")
						.swiper-slide
							.image
								a(data-fancybox="gallery_6" href="./assets/about/11.png")
									img.fullsize(src="./assets/about/11.png", alt="")
					.swiper__pagination.index__swiper__pagination
.d-none
	// gallery_1
	a(data-fancybox="gallery_1" href="./assets/about/8.png" data-options="{opts: {thumbs:{autoStart: true}}}")
		img.fullsize(src="./assets/about/8.png", alt="")
	a(data-fancybox="gallery_1" href="./assets/about/8.png" data-options="{opts: {thumbs:{autoStart: true}}}")
		img.fullsize(src="./assets/about/8.png", alt="")
	a(data-fancybox="gallery_1" href="./assets/about/8.png" data-options="{opts: {thumbs:{autoStart: true}}}")
		img.fullsize(src="./assets/about/8.png", alt="")
	a(data-fancybox="gallery_1" href="./assets/about/8.png" data-options="{opts: {thumbs:{autoStart: true}}}")
		img.fullsize(src="./assets/about/8.png", alt="")
	a(data-fancybox="gallery_1" href="./assets/about/8.png" data-options="{opts: {thumbs:{autoStart: true}}}")
		img.fullsize(src="./assets/about/8.png", alt="")
	a(data-fancybox="gallery_1" href="./assets/about/8.png" data-options="{opts: {thumbs:{autoStart: true}}}")
		img.fullsize(src="./assets/about/8.png", alt="")
	// gallery_2
	a(data-fancybox="gallery_2" href="./assets/about/8.png" data-options="{opts: {thumbs:{autoStart: true}}}")
		img.fullsize(src="./assets/about/8.png", alt="")
	a(data-fancybox="gallery_2" href="./assets/about/8.png" data-options="{opts: {thumbs:{autoStart: true}}}")
		img.fullsize(src="./assets/about/8.png", alt="")
	a(data-fancybox="gallery_2" href="./assets/about/8.png" data-options="{opts: {thumbs:{autoStart: true}}}")
		img.fullsize(src="./assets/about/8.png", alt="")
	a(data-fancybox="gallery_2" href="./assets/about/8.png" data-options="{opts: {thumbs:{autoStart: true}}}")
		img.fullsize(src="./assets/about/8.png", alt="")
	a(data-fancybox="gallery_2" href="./assets/about/8.png" data-options="{opts: {thumbs:{autoStart: true}}}")
		img.fullsize(src="./assets/about/8.png", alt="")
	a(data-fancybox="gallery_2" href="./assets/about/8.png" data-options="{opts: {thumbs:{autoStart: true}}}")
		img.fullsize(src="./assets/about/8.png", alt="")
	// gallery_3
	a(data-fancybox="gallery_3" href="./assets/about/8.png" data-options="{opts: {thumbs:{autoStart: true}}}")
		img.fullsize(src="./assets/about/8.png", alt="")
	a(data-fancybox="gallery_3" href="./assets/about/8.png" data-options="{opts: {thumbs:{autoStart: true}}}")
		img.fullsize(src="./assets/about/8.png", alt="")
	a(data-fancybox="gallery_3" href="./assets/about/8.png" data-options="{opts: {thumbs:{autoStart: true}}}")
		img.fullsize(src="./assets/about/8.png", alt="")
	a(data-fancybox="gallery_3" href="./assets/about/8.png" data-options="{opts: {thumbs:{autoStart: true}}}")
		img.fullsize(src="./assets/about/8.png", alt="")
	a(data-fancybox="gallery_3" href="./assets/about/8.png" data-options="{opts: {thumbs:{autoStart: true}}}")
		img.fullsize(src="./assets/about/8.png", alt="")
	a(data-fancybox="gallery_3" href="./assets/about/8.png" data-options="{opts: {thumbs:{autoStart: true}}}")
		img.fullsize(src="./assets/about/8.png", alt="")