section.ab-8.pd-80(data-id="about-5")
	.container-fluid
		.mainWrapper
			h2.main-title Others
			ul.form__question
				li.questionItem.active
					p.form__question--content Privacy Policy
					.list__question
						p You must be aged 18 years or over to book with us . Our company does not accept responsibility or liability for any loss, damage or inconvenience occurring as a consequence of any user who uses information in our website.
						p.list__question--title Prohibited activities
						p We are protected by Explore Real Asia. Explore Real Asia is a registered trade mark. Any copyright material used by any third party without permission is prohibited and illegal. The company reserves the right to prosecute any unauthorized use of our trade mark through the Vietnam legal system.
						p.list__question--title Information
						p Any information on our website is unique and was created by, and remains the property of, ourselves. Copying or editing of information contained in this website is not allowed without authorization, including any travel information updates from our company or the National Tourism Authority regarding all of the destinations we are promoting.
				li.questionItem 
					p.form__question--content Terms & Conditions & Payment method
					.list__question
						p You must be aged 18 years or over to book with us . Our company does not accept responsibility or liability for any loss, damage or inconvenience occurring as a consequence of any user who uses information in our website.
						p We are protected by Explore Real Asia. Explore Real Asia is a registered trade mark. Any copyright material used by any third party without permission is prohibited and illegal. The company reserves the right to prosecute any unauthorized use of our trade mark through the Vietnam legal system.
						p Any information on our website is unique and was created by, and remains the property of, ourselves. Copying or editing of information contained in this website is not allowed without authorization, including any travel information updates from our company or the National Tourism Authority regarding all of the destinations we are promoting.
					
				li.questionItem 
					p.form__question--content Why Book With Us ?
					.list__question
						p You must be aged 18 years or over to book with us . Our company does not accept responsibility or liability for any loss, damage or inconvenience occurring as a consequence of any user who uses information in our website.
						p We are protected by Explore Real Asia. Explore Real Asia is a registered trade mark. Any copyright material used by any third party without permission is prohibited and illegal. The company reserves the right to prosecute any unauthorized use of our trade mark through the Vietnam legal system.
						p Any information on our website is unique and was created by, and remains the property of, ourselves. Copying or editing of information contained in this website is not allowed without authorization, including any travel information updates from our company or the National Tourism Authority regarding all of the destinations we are promoting.
					
				li.questionItem 
					p.form__question--content Our Guide Team
					.list__question
						p You must be aged 18 years or over to book with us . Our company does not accept responsibility or liability for any loss, damage or inconvenience occurring as a consequence of any user who uses information in our website.
						p We are protected by Explore Real Asia. Explore Real Asia is a registered trade mark. Any copyright material used by any third party without permission is prohibited and illegal. The company reserves the right to prosecute any unauthorized use of our trade mark through the Vietnam legal system.
						p Any information on our website is unique and was created by, and remains the property of, ourselves. Copying or editing of information contained in this website is not allowed without authorization, including any travel information updates from our company or the National Tourism Authority regarding all of the destinations we are promoting.
					
				li.questionItem 
					p.form__question--content Climate
					.list__question
						p You must be aged 18 years or over to book with us . Our company does not accept responsibility or liability for any loss, damage or inconvenience occurring as a consequence of any user who uses information in our website.
						p We are protected by Explore Real Asia. Explore Real Asia is a registered trade mark. Any copyright material used by any third party without permission is prohibited and illegal. The company reserves the right to prosecute any unauthorized use of our trade mark through the Vietnam legal system.
						p Any information on our website is unique and was created by, and remains the property of, ourselves. Copying or editing of information contained in this website is not allowed without authorization, including any travel information updates from our company or the National Tourism Authority regarding all of the destinations we are promoting.
					
				li.questionItem 
					p.form__question--content F&Q
					.list__question
						p You must be aged 18 years or over to book with us . Our company does not accept responsibility or liability for any loss, damage or inconvenience occurring as a consequence of any user who uses information in our website.
						p We are protected by Explore Real Asia. Explore Real Asia is a registered trade mark. Any copyright material used by any third party without permission is prohibited and illegal. The company reserves the right to prosecute any unauthorized use of our trade mark through the Vietnam legal system.
						p Any information on our website is unique and was created by, and remains the property of, ourselves. Copying or editing of information contained in this website is not allowed without authorization, including any travel information updates from our company or the National Tourism Authority regarding all of the destinations we are promoting.
					
section.ab-8.pd-80(data-id="about-6")
	.container-fluid
			.button-contact#contact
				a.button(href="#") Contact Us
				p Want to find out how Era can solve problems specifict to your travel? Let’s talk