section.subpage-tab-navigation
	.container-fluid
		.mainWrapper
			.subpage-tab-navigation-wrapper.justify-center
				ul.scrollspyWrapper.list-nav
					li.nav__item
						a.nav__link(data-target="about-1") About us
					li.nav__item
						a.nav__link(data-target="about-2") The era story
					li.nav__item
						a.nav__link(data-target="about-3") Testimonials
					li.nav__item
						a.nav__link(data-target="about-4") Gallery
					li.nav__item
						a.nav__link(data-target="about-5") Others
					li.nav__item
						a.nav__link(data-target="about-6") Contact us
//- section.subpage-tab-navigation
//- 	.container-fluid
//- 		.mainWrapper
//- 			.row
//- 				.col
//- 					.subpage-tab-navigation-wrapper
//- 						ul.list-nav.center
//- 							li.nav__item.active
//- 								a.nav__link(href="#") VISA FEE
//- 							li.nav__item
//- 								a.nav__link(href="#") VISA DOCUMENT
//- 							li.nav__item
//- 								a.nav__link(href="#") How to get the visa at airport
//- 							li.nav__item
//- 								a.nav__link(href="#") E- VISA
