.checkout.pd-80
	.container-fluid
		form.mainWrapper(currency="VND" locale="vi-VN")
			.checkout__options.pb-50
				h2.makeMyTripOptions__sectionTitle Review your plan
				.cartAsideOption
					.cartAsideOption__title
						h4
							| Premade Tour
							span.fal.fa-edit.formTourSearchItem__editButton
						.cartAsideOption__price 8.490.000 ₫
						span.fas.fa-chevron-down.cartAsideOption__iconToggle
					.cartAsideOption__list
						.formTourSearchItem
							label.formTourSearchItem__check
								input.d-none(type='checkbox')
								span.formTourSearchItem__check--icon

							.formTourSearchItem__wrapper
								.formTourSearchItem__content
									h4
										| Trekking in Sapa
										span.fal.fa-edit.formTourSearchItem__editButton
									.formTourSearchItem__description
										.formItem__left
											p Oct 9 - Oct 11
											p Adult
											p.formItem__left--left
												input.formItem__quantity(type="text" value="3" disabled max="20" min="0" data-unit-price="554000")
												span x 
												span 554.000 ₫
								.formTourSearchItem__priceWrapper
									p.formTourSearchItem__price 1,662,000 ₫
						.formTourSearchItem
							label.formTourSearchItem__check
								input.d-none(type='checkbox')
								span.formTourSearchItem__check--icon

							.formTourSearchItem__wrapper
								.formTourSearchItem__content
									h4
										| Trekking in Sapa
										span.fal.fa-edit.formTourSearchItem__editButton
									.formTourSearchItem__description
										.formItem__left
											p Oct 9 - Oct 11
											p Adult
											p.formItem__left--left
												input.formItem__quantity(type="text" value="3" disabled max="20" min="0" data-unit-price="540000")
												span x 
												span 500.000 ₫
								.formTourSearchItem__priceWrapper
									p.formTourSearchItem__price 1,500,000 ₫
						.formTourSearchItem
							label.formTourSearchItem__check
								input.d-none(type='checkbox')
								span.formTourSearchItem__check--icon

							.formTourSearchItem__wrapper
								.formTourSearchItem__content
									h4
										| Trekking in Sapa
										span.fal.fa-edit.formTourSearchItem__editButton
									.formTourSearchItem__description
										.formItem__left
											p Oct 9 - Oct 11
											p Adult
											p.formItem__left--left
												input.formItem__quantity(type="text" value="3" disabled max="20" min="0" data-unit-price="540000")
												span x 
												span 500.000 ₫
								.formTourSearchItem__priceWrapper
									p.formTourSearchItem__price 1,500,000 ₫

				.cartAsideOption
					.cartAsideOption__title
						h4
							| Hotels
							span.fal.fa-edit.formTourSearchItem__editButton
						.cartAsideOption__price 8.490.000 ₫
						span.fas.fa-chevron-down.cartAsideOption__iconToggle
					.cartAsideOption__list
						.formTourSearchItem
							label.formTourSearchItem__check
								input.d-none(type='checkbox')
								span.formTourSearchItem__check--icon

							.formTourSearchItem__wrapper
								.formTourSearchItem__content
									h4
										| Trekking in Sapa
										span.fal.fa-edit.formTourSearchItem__editButton
									.formTourSearchItem__description
										.formItem__left
											p Oct 9 - Oct 11
											p Adult
											p.formItem__left--left
												input.formItem__quantity(type="text" value="3" disabled max="20" min="0" data-unit-price="540000")
												span x 
												span 500.000 ₫
								.formTourSearchItem__priceWrapper
									p.formTourSearchItem__price 1,500,000 ₫
						.formTourSearchItem
							label.formTourSearchItem__check
								input.d-none(type='checkbox')
								span.formTourSearchItem__check--icon

							.formTourSearchItem__wrapper
								.formTourSearchItem__content
									h4
										| Trekking in Sapa
										span.fal.fa-edit.formTourSearchItem__editButton
									.formTourSearchItem__description
										.formItem__left
											p Oct 9 - Oct 11
											p Adult
											p.formItem__left--left
												input.formItem__quantity(type="text" value="3" disabled max="20" min="0" data-unit-price="540000")
												span x 
												span 500.000 ₫
								.formTourSearchItem__priceWrapper
									p.formTourSearchItem__price 1,500,000 ₫
						.formTourSearchItem
							label.formTourSearchItem__check
								input.d-none(type='checkbox')
								span.formTourSearchItem__check--icon

							.formTourSearchItem__wrapper
								.formTourSearchItem__content
									h4
										| Trekking in Sapa
										span.fal.fa-edit.formTourSearchItem__editButton
									.formTourSearchItem__description
										.formItem__left
											p Oct 9 - Oct 11
											p Adult
											p.formItem__left--left
												input.formItem__quantity(type="text" value="3" disabled max="20" min="0" data-unit-price="540000")
												span x 
												span 500.000 ₫
								.formTourSearchItem__priceWrapper
									p.formTourSearchItem__price 1,500,000 ₫

				.cartAsideOption
					.cartAsideOption__title
						h4
							| Cruises
							span.fal.fa-edit.formTourSearchItem__editButton
						.cartAsideOption__price 8.490.000 ₫
						span.fas.fa-chevron-down.cartAsideOption__iconToggle
					.cartAsideOption__list
						.formTourSearchItem
							label.formTourSearchItem__check
								input.d-none(type='checkbox')
								span.formTourSearchItem__check--icon

							.formTourSearchItem__wrapper
								.formTourSearchItem__content
									h4
										| Trekking in Sapa
										span.fal.fa-edit.formTourSearchItem__editButton
									.formTourSearchItem__description
										.formItem__left
											p Oct 9 - Oct 11
											p Adult
											p.formItem__left--left
												input.formItem__quantity(type="text" value="3" disabled max="20" min="0" data-unit-price="540000")
												span x 
												span 500.000 ₫
								.formTourSearchItem__priceWrapper
									p.formTourSearchItem__price 1,500,000 ₫
						.formTourSearchItem
							label.formTourSearchItem__check
								input.d-none(type='checkbox')
								span.formTourSearchItem__check--icon

							.formTourSearchItem__wrapper
								.formTourSearchItem__content
									h4
										| Trekking in Sapa
										span.fal.fa-edit.formTourSearchItem__editButton
									.formTourSearchItem__description
										.formItem__left
											p Oct 9 - Oct 11
											p Adult
											p.formItem__left--left
												input.formItem__quantity(type="text" value="3" disabled max="20" min="0" data-unit-price="540000")
												span x 
												span 500.000 ₫
								.formTourSearchItem__priceWrapper
									p.formTourSearchItem__price 1,500,000 ₫
						.formTourSearchItem
							label.formTourSearchItem__check
								input.d-none(type='checkbox')
								span.formTourSearchItem__check--icon

							.formTourSearchItem__wrapper
								.formTourSearchItem__content
									h4
										| Trekking in Sapa
										span.fal.fa-edit.formTourSearchItem__editButton
									.formTourSearchItem__description
										.formItem__left
											p Oct 9 - Oct 11
											p Adult
											p.formItem__left--left
												input.formItem__quantity(type="text" value="3" disabled max="20" min="0" data-unit-price="540000")
												span x 
												span 500.000 ₫
								.formTourSearchItem__priceWrapper
									p.formTourSearchItem__price 1,500,000 ₫

				.cartAsideOption
					.cartAsideOption__title
						h4
							| Transportation
							span.fal.fa-edit.formTourSearchItem__editButton
						.cartAsideOption__price 8.490.000 ₫
						span.fas.fa-chevron-down.cartAsideOption__iconToggle
					.cartAsideOption__list
						.formTourSearchItem
							label.formTourSearchItem__check
								input.d-none(type='checkbox')
								span.formTourSearchItem__check--icon

							.formTourSearchItem__wrapper
								.formTourSearchItem__content
									h4
										| Trekking in Sapa
										span.fal.fa-edit.formTourSearchItem__editButton
									.formTourSearchItem__description
										.formItem__left
											p Oct 9 - Oct 11
											p Adult
											p.formItem__left--left
												input.formItem__quantity(type="text" value="3" disabled max="20" min="0" data-unit-price="540000")
												span x 
												span 500.000 ₫
								.formTourSearchItem__priceWrapper
									p.formTourSearchItem__price 1,500,000 ₫
						.formTourSearchItem
							label.formTourSearchItem__check
								input.d-none(type='checkbox')
								span.formTourSearchItem__check--icon

							.formTourSearchItem__wrapper
								.formTourSearchItem__content
									h4
										| Trekking in Sapa
										span.fal.fa-edit.formTourSearchItem__editButton
									.formTourSearchItem__description
										.formItem__left
											p Oct 9 - Oct 11
											p Adult
											p.formItem__left--left
												input.formItem__quantity(type="text" value="3" disabled max="20" min="0" data-unit-price="540000")
												span x 
												span 500.000 ₫
								.formTourSearchItem__priceWrapper
									p.formTourSearchItem__price 1,500,000 ₫
						.formTourSearchItem
							label.formTourSearchItem__check
								input.d-none(type='checkbox')
								span.formTourSearchItem__check--icon

							.formTourSearchItem__wrapper
								.formTourSearchItem__content
									h4
										| Trekking in Sapa
										span.fal.fa-edit.formTourSearchItem__editButton
									.formTourSearchItem__description
										.formItem__left
											p Oct 9 - Oct 11
											p Adult
											p.formItem__left--left
												input.formItem__quantity(type="text" value="3" disabled max="20" min="0" data-unit-price="540000")
												span x 
												span 500.000 ₫
								.formTourSearchItem__priceWrapper
									p.formTourSearchItem__price 1,500,000 ₫

				.cartAsideOption
					.cartAsideOption__title
						h4
							| Guide
							span.fal.fa-edit.formTourSearchItem__editButton
						.cartAsideOption__price 8.490.000 ₫
						span.fas.fa-chevron-down.cartAsideOption__iconToggle
					.cartAsideOption__list
						.formTourSearchItem
							label.formTourSearchItem__check
								input.d-none(type='checkbox')
								span.formTourSearchItem__check--icon

							.formTourSearchItem__wrapper
								.formTourSearchItem__content
									h4
										| Trekking in Sapa
										span.fal.fa-edit.formTourSearchItem__editButton
									.formTourSearchItem__description
										.formItem__left
											p Oct 9 - Oct 11
											p Adult
											p.formItem__left--left
												input.formItem__quantity(type="text" value="3" disabled max="20" min="0" data-unit-price="540000")
												span x 
												span 500.000 ₫
								.formTourSearchItem__priceWrapper
									p.formTourSearchItem__price 1,500,000 ₫
						.formTourSearchItem
							label.formTourSearchItem__check
								input.d-none(type='checkbox')
								span.formTourSearchItem__check--icon

							.formTourSearchItem__wrapper
								.formTourSearchItem__content
									h4
										| Trekking in Sapa
										span.fal.fa-edit.formTourSearchItem__editButton
									.formTourSearchItem__description
										.formItem__left
											p Oct 9 - Oct 11
											p Adult
											p.formItem__left--left
												input.formItem__quantity(type="text" value="3" disabled max="20" min="0" data-unit-price="540000")
												span x 
												span 500.000 ₫
								.formTourSearchItem__priceWrapper
									p.formTourSearchItem__price 1,500,000 ₫
						.formTourSearchItem
							label.formTourSearchItem__check
								input.d-none(type='checkbox')
								span.formTourSearchItem__check--icon

							.formTourSearchItem__wrapper
								.formTourSearchItem__content
									h4
										| Trekking in Sapa
										span.fal.fa-edit.formTourSearchItem__editButton
									.formTourSearchItem__description
										.formItem__left
											p Oct 9 - Oct 11
											p Adult
											p.formItem__left--left
												input.formItem__quantity(type="text" value="3" disabled max="20" min="0" data-unit-price="540000")
												span x 
												span 500.000 ₫
								.formTourSearchItem__priceWrapper
									p.formTourSearchItem__price 1,500,000 ₫

				.cartAsideOption
					.cartAsideOption__title
						h4
							| Discount
							span.fal.fa-edit.formTourSearchItem__editButton
						.cartAsideOption__price 8.490.000 ₫
						span.fas.fa-chevron-down.cartAsideOption__iconToggle
					.cartAsideOption__list
						.formTourSearchItem
							label.formTourSearchItem__check
								input.d-none(type='checkbox')
								span.formTourSearchItem__check--icon

							.formTourSearchItem__wrapper
								.formTourSearchItem__content
									h4
										| Trekking in Sapa
										span.fal.fa-edit.formTourSearchItem__editButton
								.formTourSearchItem__priceWrapper
									p.formTourSearchItem__price 1,500,000 ₫
						.formTourSearchItem
							label.formTourSearchItem__check
								input.d-none(type='checkbox')
								span.formTourSearchItem__check--icon

							.formTourSearchItem__wrapper
								.formTourSearchItem__content
									h4
										| Trekking in Sapa
										span.fal.fa-edit.formTourSearchItem__editButton
								.formTourSearchItem__priceWrapper
									p.formTourSearchItem__price 1,500,000 ₫
						.formTourSearchItem
							label.formTourSearchItem__check
								input.d-none(type='checkbox')
								span.formTourSearchItem__check--icon

							.formTourSearchItem__wrapper
								.formTourSearchItem__content
									h4
										| Trekking in Sapa
										span.fal.fa-edit.formTourSearchItem__editButton
								.formTourSearchItem__priceWrapper
									p.formTourSearchItem__price 1,500,000 ₫

			.checkout__fillingInformations.payment-2.pd-50
				h2.makeMyTripOptions__sectionTitle Billing Information
				.row--custom.form-wrapper
					.col-md-6
						.form-profile
							.form-group
								.select
									select(name='')
										option(value='') Mr
										option(value='') Ms
										option(value='') Mrs
								input(type='text' name='' placeholder="Full name")
					.col-md-6
						.form-profile
							.form-group
								.select
									select(name='')
										option(value='') +84
										option(value='') +84
										option(value='') +84
								input(type='text' name='' placeholder="Phone number *")
					.col-md-6
						.form-profile
							.form-group
								input(type='text' name='' placeholder="Email Adress *")
					.col-md-6
						.form-profile
							.form-group.form-group__selects
								input(type="number" placeholder="Adults")
								input(type="number" placeholder="Children")
								input(type="number" placeholder="Infants")
					.col-md-12
						.form-profile
							.form-group
								input(type='text' name='' placeholder="Address")
					.col-md-12
						.form-profile
							.form-group
								textarea(type='text' name='' placeholder="Note")
			.checkout__touristList.pd-50
				h2.makeMyTripOptions__sectionTitle List of Tourists
				.checkout__touristList--wrapper
					.checkoutTouristItem
						.checkoutTouristItem__title
							p Traveller 1
						.checkoutTouristItem__content.row
							.checkoutTouristItem__col.col-md-6.col-xl-5
								label.form__group--type-2
									span Full Name *
									.input__group.input__hasSelect
										select
											option Mr
											option Ms
											option Mrs
										input(placeholder="Full Name *")
							.checkoutTouristItem__col.col-md-6.col-xl-2
								label.form__group--type-2
									span Gender
									.input__group
										select
											option Male
											option Female
							.checkoutTouristItem__col.col-md-6.col-xl
								label.form__group--type-2
									span Your birthday *
									.input__group
										input(data-date placeholder="Month/Day/Year")
							.checkoutTouristItem__col.col-md-6.col-xl
								label.form__group--type-2
									span Traveller type *
									.input__group
										select
											option Adults
											option Infanst
											option Children
					.checkoutTouristItem
						.checkoutTouristItem__title
							p Traveller 2
						.checkoutTouristItem__content.row
							.checkoutTouristItem__col.col-md-6.col-xl-5
								label.form__group--type-2
									span Full Name *
									.input__group.input__hasSelect
										select
											option Mr
											option Ms
											option Mrs
										input(placeholder="Full Name *")
							.checkoutTouristItem__col.col-md-6.col-xl-2
								label.form__group--type-2
									span Gender
									.input__group
										select
											option Male
											option Female
							.checkoutTouristItem__col.col-md-6.col-xl
								label.form__group--type-2
									span Your birthday *
									.input__group
										input(data-date placeholder="Month/Day/Year")
							.checkoutTouristItem__col.col-md-6.col-xl
								label.form__group--type-2
									span Traveller type *
									.input__group
										select
											option Adults
											option Infanst
											option Children
					.checkoutTouristItem
						.checkoutTouristItem__title
							p Traveller 3
						.checkoutTouristItem__content.row
							.checkoutTouristItem__col.col-md-6.col-xl-5
								label.form__group--type-2
									span Full Name *
									.input__group.input__hasSelect
										select
											option Mr
											option Ms
											option Mrs
										input(placeholder="Full Name *")
							.checkoutTouristItem__col.col-md-6.col-xl-2
								label.form__group--type-2
									span Gender
									.input__group
										select
											option Male
											option Female
							.checkoutTouristItem__col.col-md-6.col-xl
								label.form__group--type-2
									span Your birthday *
									.input__group
										input(data-date placeholder="Month/Day/Year")
							.checkoutTouristItem__col.col-md-6.col-xl
								label.form__group--type-2
									span Traveller type *
									.input__group
										select
											option Adults
											option Infanst
											option Children
				.checkout__touristList--wrapper.pt-80
					.checkoutTouristItem
						.checkoutTouristItem__title
							p.fw-700 SubTotal
							p.price.fw-700 ₫ 8,499,000
					.cartAside__voucher
						.form__group
							label
								span.fas.fa-gift
							input.input__control(type='text' placeholder='Add voucher')
							input.btn.btn__submit(type='Button' value='Apply')
				.checkout__fillingInformationsContent
					p.checkout__note 
						span *
						span NOTE
					p - Age is calculated by date of birth:
					p 1/ About land tour
					ul.list-style-none
						li - Children from 12 years old and above: Apply the same price as an adult.
						li - Children from 6 – under 12 years old: 75% of adult tour price (no extra bed); charged 100% as an adult tour price if an extra bed is required. Every 02 (two) adults can accompany 01 (one) child from 6 – under 12 years old; for the second, please pay the same price as an adult.
						li - Children under 6 years old: 50% of an adult tour price (no extra bed). Every 02 (two) adults can accompany 01 (one) child under 6 years old; for the second, please pay 75% of adult tour price.
					p 2/ About transportation & other cases
					ul.list-style-none
						li - Tickets for airline, train and fast ferry shall be applied as the own policy for each particular transportation company.
						li - At some attractions, children who are over-height compared to the attraction’s rules will be extra-charged.
					p 3/ Surcharge for single room
					ul.list-style-none
						li - Surcharge for single room (if required) will be checked once the departure date is confirmed

			.checkout__billingPayment.pd-50
				h2.makeMyTripOptions__sectionTitle Payment
				.checkout__billingPayment--wrapper
					p Please select forms of payments
					label.form__radio--custom-1.d-block
						input(type="radio" name="billing_payment")
						span Direct Bank Transfer
					label.form__radio--custom-1.d-block
						input(type="radio" name="billing_payment")
						span Payment by VISA, Master, JCB Card
				.checkout__fillingInformationsContent
					p.checkout__note 
						span *
						span NOTE
					p Please pay within 24 hours at any Era agent at home and abroad.
				.checkout__termsScrollbox
					p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium autem a qui velit iusto cumque possimus. Veritatis quia qui est molestias expedita cupiditate? Tempore nesciunt eius omnis, repudiandae quo magni?
					br
					p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium autem a qui velit iusto cumque possimus. Veritatis quia qui est molestias expedita cupiditate? Tempore nesciunt eius omnis, repudiandae quo magni?
					br
					p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium autem a qui velit iusto cumque possimus. Veritatis quia qui est molestias expedita cupiditate? Tempore nesciunt eius omnis, repudiandae quo magni?
					br
					p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium autem a qui velit iusto cumque possimus. Veritatis quia qui est molestias expedita cupiditate? Tempore nesciunt eius omnis, repudiandae quo magni?
					br
					p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium autem a qui velit iusto cumque possimus. Veritatis quia qui est molestias expedita cupiditate? Tempore nesciunt eius omnis, repudiandae quo magni?
					br
					p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium autem a qui velit iusto cumque possimus. Veritatis quia qui est molestias expedita cupiditate? Tempore nesciunt eius omnis, repudiandae quo magni?
					br
					p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium autem a qui velit iusto cumque possimus. Veritatis quia qui est molestias expedita cupiditate? Tempore nesciunt eius omnis, repudiandae quo magni?
					br
					p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium autem a qui velit iusto cumque possimus. Veritatis quia qui est molestias expedita cupiditate? Tempore nesciunt eius omnis, repudiandae quo magni?
					br
					p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium autem a qui velit iusto cumque possimus. Veritatis quia qui est molestias expedita cupiditate? Tempore nesciunt eius omnis, repudiandae quo magni?
					br
					p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium autem a qui velit iusto cumque possimus. Veritatis quia qui est molestias expedita cupiditate? Tempore nesciunt eius omnis, repudiandae quo magni?
					br
					p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium autem a qui velit iusto cumque possimus. Veritatis quia qui est molestias expedita cupiditate? Tempore nesciunt eius omnis, repudiandae quo magni?
					br
					p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium autem a qui velit iusto cumque possimus. Veritatis quia qui est molestias expedita cupiditate? Tempore nesciunt eius omnis, repudiandae quo magni?
					br
					p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium autem a qui velit iusto cumque possimus. Veritatis quia qui est molestias expedita cupiditate? Tempore nesciunt eius omnis, repudiandae quo magni?
					br
					p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium autem a qui velit iusto cumque possimus. Veritatis quia qui est molestias expedita cupiditate? Tempore nesciunt eius omnis, repudiandae quo magni?
					br
					p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium autem a qui velit iusto cumque possimus. Veritatis quia qui est molestias expedita cupiditate? Tempore nesciunt eius omnis, repudiandae quo magni?
					br
					p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium autem a qui velit iusto cumque possimus. Veritatis quia qui est molestias expedita cupiditate? Tempore nesciunt eius omnis, repudiandae quo magni?
					br
					p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium autem a qui velit iusto cumque possimus. Veritatis quia qui est molestias expedita cupiditate? Tempore nesciunt eius omnis, repudiandae quo magni?
					br
					p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium autem a qui velit iusto cumque possimus. Veritatis quia qui est molestias expedita cupiditate? Tempore nesciunt eius omnis, repudiandae quo magni?
				.checkout__termsAgree
					label.form__checkbox--custom-1.d-block
						input(type="radio" name="term_agree")
						span I agree with your payment terms of services
				.billingPayment__buttons.checkout__termsButtons
					a.btn.btn__submit--reverse(href="javascript:void(0)") Next Step
			//- .checkout__terms.pt-50
			//- 	h2.makeMyTripOptions__sectionTitle Terms of Payment