section.BookingSuccess
	.container
		.mainWrapper
			.block-title
				p BLOG
				h2 Vietnam travel articles
				h4 Order Number:
					span KH00045
			.list-step-booking-wrapper
				h3.title-page NEXT STEPS:
				.list-step-booking.row
					.step__item.col-md-4.active
						.img
							img.svg(src="./assets/icons/step-booking-1.svg", alt="")
						.text
							p Your booking is sent to the Era 
					.step__item.col-md-4
						.img
							img(src="./assets/icons/step-booking-2.svg", alt="")
						.text
							p Your order has been successfully submitted. Please Wait – ERA is processing your order.
					.step__item.col-md-4
						.img
							img(src="./assets/icons/step-booking-3.svg", alt="")
						.text
							p Your booking is complete.
							p You can start packing!
			.block-success-note-wrapper
				.heading-block
					h3.title-page NOTE:
				.body-block
					p If you have not received a reply within 24 hours after your booking or if you need any further support for your booking & payment process, please do not hesitate to email us to our contact:
					ul
						li
							p
								b Address:
								| #34, Lot 7, Den Lu 1, Hoang Mai Dist. Hanoi, Vietnam
						li
							p Address:
								span #34, Lot 7, Den Lu 1, Hoang Mai Dist. Hanoi, Vietnam
						li
							p 
								b Email:
								| info@eratour.vn
						li
							p
								b Phone:
								| (+84-24) 3622 7195 / 3622 7752
						li
							p
								b Hotline:
								| (+84-8) 6884 1916
					p We welcome any of your positive comments to improve our services to 100% sastification or for any emergency to send your mail to our Director via her direct address :
						b [mai@explorerealasia.net].
			.block-title
				h2 Thank you and we always stay at your disposal.