section.BookingSuccessNews
	.container-fluid
		.mainWrapper
			.section__titleWrapper
				.block-title
					p Blog
					h2 Vietnam travel articles
			.indexNews__slideWrapper
				.index__swiper-navigations.desktop
					.swiper__btn.swiper__btn--1.swiper__btn--prev.shadow--1
						.fal.fa-chevron-left
					.swiper__btn.swiper__btn--1.swiper__btn--next.shadow--1
						.fal.fa-chevron-right
				.swiper-container
					.swiper-wrapper
						.swiper-slide
							.tourNewsItem
								.tourNewsItem__img.overflow-hidden
									a(href="#")
										img.fullsize.object-cover(src="./assets/destinations/5.jpg")
								.tourNewsItem__content
									h4.tourNewsItem__title Ha Long Bay, Vietnam
									.tourNewsItem__rating.rating__bar
										.star
										.star__color(data-rating="0.7")
									.tourNewsItem__review.d-flex.align-center
										.tourNewsItem__reviewContent
											p By Xu Kien - July 26, 2020
										//- .tourNewsItem__reviewFlag
										//- 	img(src="./assets/flag.svg", alt="")
									.tourNewsItem__socials
										a(href="#")
											img(src="./assets/icons/news_facebook.svg")
										a(href="#")
											img(src="./assets/icons/news_twitter.svg")
										a(href="#")
											img(src="./assets/icons/news_other.svg")
									.tourNewsItem__description
										p Well done route, captain - SUPER! It is very welcoming and friendly, which lifts the mood and the series
									.tourNewsItem__button
										a.fs-16.fw-700(href="#") See more
						.swiper-slide
							.tourNewsItem
								.tourNewsItem__img.overflow-hidden
									a(href="#")
										img.fullsize.object-cover(src="./assets/destinations/6.jpg")
								.tourNewsItem__content
									h4.tourNewsItem__title Ha Long Bay, Vietnam
									.tourNewsItem__rating.rating__bar
										.star
										.star__color(data-rating="0.7")
									.tourNewsItem__review.d-flex.align-center
										.tourNewsItem__reviewContent
											p By Xu Kien - July 26, 2020
										//- .tourNewsItem__reviewFlag
										//- 	img(src="./assets/flag.svg", alt="")
									.tourNewsItem__socials
										a(href="#")
											img(src="./assets/icons/news_facebook.svg")
										a(href="#")
											img(src="./assets/icons/news_twitter.svg")
										a(href="#")
											img(src="./assets/icons/news_other.svg")
									.tourNewsItem__description
										p Well done route, captain - SUPER! It is very welcoming and friendly, which lifts the mood and the series of houses of wonderful architecture seems even more beautiful and leaves just a fabulous impression of Amsterdam. Ron and Nel in the form of a cheerful dialogue told interesting stories about Amsterdam and its inhabitants. Loved the tour and attractive price…
									.tourNewsItem__button
										a.fs-16.fw-700(href="#") See more
						.swiper-slide
							.tourNewsItem
								.tourNewsItem__img.overflow-hidden
									a(href="#")
										img.fullsize.object-cover(src="./assets/destinations/7.jpg")
								.tourNewsItem__content
									h4.tourNewsItem__title Ha Long Bay, Vietnam
									.tourNewsItem__rating.rating__bar
										.star
										.star__color(data-rating="0.7")
									.tourNewsItem__review.d-flex.align-center
										.tourNewsItem__reviewContent
											p By Xu Kien - July 26, 2020
										//- .tourNewsItem__reviewFlag
										//- 	img(src="./assets/flag.svg", alt="")
									.tourNewsItem__socials
										a(href="#")
											img(src="./assets/icons/news_facebook.svg")
										a(href="#")
											img(src="./assets/icons/news_twitter.svg")
										a(href="#")
											img(src="./assets/icons/news_other.svg")
									.tourNewsItem__description
										p Well done route, captain - SUPER! It is very welcoming and friendly, which lifts the mood and the series of houses of wonderful architecture seems even more beautiful and leaves just a fabulous impression of Amsterdam. Ron and Nel in the form of a cheerful dialogue told interesting stories about Amsterdam and its inhabitants. Loved the tour and attractive price…
									.tourNewsItem__button
										a.fs-16.fw-700(href="#") See more
						.swiper-slide
							.tourNewsItem
								.tourNewsItem__img.overflow-hidden
									a(href="#")
										img.fullsize.object-cover(src="./assets/destinations/7.jpg")
								.tourNewsItem__content
									h4.tourNewsItem__title Ha Long Bay, Vietnam
									.tourNewsItem__rating.rating__bar
										.star
										.star__color(data-rating="0.7")
									.tourNewsItem__review.d-flex.align-center
										.tourNewsItem__reviewContent
											p By Xu Kien - July 26, 2020
										//- .tourNewsItem__reviewFlag
										//- 	img(src="./assets/flag.svg", alt="")
									.tourNewsItem__socials
										a(href="#")
											img(src="./assets/icons/news_facebook.svg")
										a(href="#")
											img(src="./assets/icons/news_twitter.svg")
										a(href="#")
											img(src="./assets/icons/news_other.svg")
									.tourNewsItem__description
										p Well done route, captain - SUPER! It is very welcoming and friendly, which lifts the mood and the series of houses of wonderful architecture seems even more beautiful and leaves just a fabulous impression of Amsterdam. Ron and Nel in the form of a cheerful dialogue told interesting stories about Amsterdam and its inhabitants. Loved the tour and attractive price…
									.tourNewsItem__button
										a.fs-16.fw-700(href="#") See more
						.swiper-slide
							.tourNewsItem
								.tourNewsItem__img.overflow-hidden
									a(href="#")
										img.fullsize.object-cover(src="./assets/destinations/7.jpg")
								.tourNewsItem__content
									h4.tourNewsItem__title Ha Long Bay, Vietnam
									.tourNewsItem__rating.rating__bar
										.star
										.star__color(data-rating="0.7")
									.tourNewsItem__review.d-flex.align-center
										.tourNewsItem__reviewContent
											p By Xu Kien - July 26, 2020
										//- .tourNewsItem__reviewFlag
										//- 	img(src="./assets/flag.svg", alt="")
									.tourNewsItem__socials
										a(href="#")
											img(src="./assets/icons/news_facebook.svg")
										a(href="#")
											img(src="./assets/icons/news_twitter.svg")
										a(href="#")
											img(src="./assets/icons/news_other.svg")
									.tourNewsItem__description
										p Well done route, captain - SUPER! It is very welcoming and friendly, which lifts the mood and the series of houses of wonderful architecture seems even more beautiful and leaves just a fabulous impression of Amsterdam. Ron and Nel in the form of a cheerful dialogue told interesting stories about Amsterdam and its inhabitants. Loved the tour and attractive price…
									.tourNewsItem__button
										a.fs-16.fw-700(href="#") See more
					.swiper__pagination.index__swiper__pagination
section.BookingSuccessNews
	.container
		.mainWrapper
			.section__titleWrapper
				.block-title
					h2 Frequently asked questions
			.list-questions-wrapper
				.list-questions.row
					.col-lg-6
						.question__item
							h3 Is it better to use dollars or dong for daily expenses?
							p Despite of the fact that Vietnamese government attempts to outlaw the practice, the US Dollars still acts as an alternative currency which is almost completely interchangeable with Vietnam Dong. Many prices, especially for hotels, tours and expensive restaurants, are still quoted in USD, though you can pay in dong if you’d rather - just check what exchange rate they’re using.
					.col-lg-6
						.question__item
							h3 Where can I change money?
							p You can change cash and travelers’ cheques at big hotels or at authorized foreign exchange banks in main cities. Outside the main cities and tourist area, authorized foreign exchange banks are few and far between.  So if heading off the beaten path, remember to stock up with enough cash (USD or VND) to the last trip.
				.see-more-questions
					a(href="#").btn.btn__outline See more