.SubpageBanner {
	position: relative;
	.text {
		max-width: 80%;
		width: 100%;
		@extend .position-center-center;
		z-index: 5;
		h1,
		p {
			color: map-get($color, trang);
			@extend .text-center;
		}
		h1 {
			font-size: 4rem;
		}
		p {
			font-size: 2rem;
		}
	}
	.image {
		display: flex;
		min-height: 350px;
		background: map-get($color, den);
		img {
			opacity: 0.5;
			height: auto;
		}
	}
}
