section.contact-wrapper.pd-80
	.container-fluid
		.mainWrapper
			.row
				.col-lg-5
					h2.contact-title.line We'd love to head from you.
					.content
						p.description Have a question about Era? Need to talk to customer service? Have a great idea for us? Drop us a line and we’ll get back to you as soon as we can.
						.contact
							p Have an urgent question about an order? Call our warehouse at
								|
								span  Holine:
								a(href="tel:0903411916")  +84 90 341 1916
								|  or
								span  Email:
								|
								span.email  info@eratour.vn
						.social
							p You can also get in touch on: 
							ul.contact__socials.d-flex.align-center
								li
									a(href="#")
										em.fab.fa-facebook-f
								li
									a(href="#")
										em.fab.fa-twitter
								li
									a(href="#")
										em.fab.fa-youtube
								li
									a(href="#")
										em.fab.fa-instagram
								li
									a(href="#")
										em.fab.fa-tripadvisor
				.col-lg-7
					.form-wrapper
						p.form-title Message us
						p The latest travel tips and insider insights delivered straight to your inbox.
						form
							.row
								.col-lg-6
									.form-group
										input(type="text", name="", placeholder="Your name")
								.col-lg-6
									.form-group
										input(type="email", name="", placeholder="Your email")
								.col-lg-12
									.form-group
										input(type="text", name="", placeholder="Subject for your message")
									p.form-title Reason for your contacting
								.col-lg-12
									.form-checked
										.form-group
											input(type="radio", name="reason", id="request")
											label(for="request") Request
										.form-group
											input(type="radio", name="reason", id="booking")
											label(for="booking") booking
										.form-group
											input(type="radio", name="reason", id="comment")
											label(for="comment") Comment
										.form-group
											input(type="radio", name="reason", id="others")
											label(for="others") Others
								.col-lg-12
									.form-group
										textarea(name="", cols="30", rows="10", placeholder="Write your message")
								.col-lg-12
									.form-group
										img(src="./assets/contact/2.png", alt="")
								.col-lg-12
									.form-group
										.button
											button(type="submit") Send message