.makeMyTripBreadcrumb
	.makeMyTripBreadcrumb__background
		img.fullsize.object-cover(src="./assets/makemytrip_bg.jpg")
	.makeMyTripBreadcrumb__content
		.container-fluid
			.mainWrapper
				h2 Make My Trip
					sup TM 
					| - Create your custom tour