.destinationSelect.pb-80
	.blockCanCollapse__title
		h2.makeMyTripOptions__sectionTitle Destinations: 
			span.destinationList Vietnam, Myanmar
	p Please select destinations of your trip. You can select multiple destinations.
	.destinationSelect__slideWrapper
		.swiper__btn.swiper__btn--1.swiper__btn--prev.shadow--1
			span.fal.fa-chevron-left
		.swiper__btn.swiper__btn--1.swiper__btn--next.shadow--1
			span.fal.fa-chevron-right
		.swiper-container
			.swiper-wrapper
				.swiper-slide
					label.destinationCheckbox
						input(type="checkbox" name="Destination")
						.destinationCheckbox__img
							img.object-cover(src="./assets/destinations/1.jpg", alt="")
						.destinationCheckbox__content
							h4 Vietnam
				.swiper-slide
					label.destinationCheckbox
						input(type="checkbox" name="Destination")
						.destinationCheckbox__img
							img.object-cover(src="./assets/destinations/1.jpg", alt="")
						.destinationCheckbox__content
							h4 Vietnam
				.swiper-slide
					label.destinationCheckbox
						input(type="checkbox" name="Destination")
						.destinationCheckbox__img
							img.object-cover(src="./assets/destinations/1.jpg", alt="")
						.destinationCheckbox__content
							h4 Vietnam
				.swiper-slide
					label.destinationCheckbox
						input(type="checkbox" name="Destination")
						.destinationCheckbox__img
							img.object-cover(src="./assets/destinations/1.jpg", alt="")
						.destinationCheckbox__content
							h4 Vietnam
				.swiper-slide
					label.destinationCheckbox
						input(type="checkbox" name="Destination")
						.destinationCheckbox__img
							img.object-cover(src="./assets/destinations/1.jpg", alt="")
						.destinationCheckbox__content
							h4 Vietnam
		.swiper__pagination
	p.tour__basicFormNote Your destinations of Vietnam, Myanmar have 
		b.tourQuantity 150 premade tour options