.tour__basicForm.pb-80
	.blockCanCollapse__title
		h2.makeMyTripOptions__sectionTitle Basic Information: 09/08/2020 - 11/08/2020; 02 Adults, 01 Children
	.row
		.col-md-6
			.form__group--type-1
				label.overflow-hidden
					span.text-uppercase.form__title Start date *
					input.form__control(type="text" placeholder="Add Dates" data-date)
		.col-md-6
			.form__group--type-1
				label.overflow-hidden
					span.text-uppercase.form__title End date *
					input.form__control(type="text" placeholder="Add Dates" data-date)
		.col-md-6
			.form__group--type-1
				label.overflow-hidden
					span.text-uppercase.form__title NO.OF ADULT *
					input.form__control(type="text" placeholder="Add Adults")
		.col-md-6
			.form__group--type-1
				label.overflow-hidden
					span.text-uppercase.form__title NO.OF Children *
					input.form__control(type="text" placeholder="Add Children")
		.col-md-6
			.form__group--type-1
				label.overflow-hidden
					span.text-uppercase.form__title NO.OF INFANTS *
					input.form__control(type="text" placeholder="Add Guests")
	p.tour__basicFormNote During your period from 15 July, 2020 to 30 July, 2020, for 
		b.adultsQuantity 02 adults
		| , 
		b.childrenQuantity 01 children
		| , 
		b.tourQuantity there're 365 premade tour options
