.tourDetail__information.tourDetail__section(data-id="tabSection-2")
	.tourDetail__informationTitleBlock
		h2.tourDetail__title Room Types
		p When would you like to stay at Christina’s - Hotel & Café?
	.tourDetail__content
		table.table-room-type
			thead
				tr
					th.text-center Sleeps
					th Room Types
			tbody
				-for(i=0;i<4;i++)
					tr
						td.text-center(rowspan="2")
							// HÌNH CÓ CỘNG
							img(src="./assets/tour-detail/icon-01.png", alt="")
							// HÌNH KHÔNG CÓ CỘNG
							// img(src="./assets/tour-detail/icon-02.png", alt="")
						td
							.group-content.row
								.content__item.col-xl-6
									h4 Superior Double
									p 1 Double Bed
								.content__item.col-xl-6.text-right
									span đ
										del 600,000
									h3 đ 453,000
									span per night
								.formTourSearchItem__action
									span.fas.fa-ellipsis-h
					tr
						td
							.group-content.row
								.content__item.col-xl-6
									ul.tourDetail__list
										li Turndown services
										li Shower and hot water
										li Coffee / tea maker
										li Beauty mirror
										li En-suite
										li Safety boxSafety Equipment and Life Vests
								.content__item.col-xl-6
									ul.tourDetail__list
										li Complimentary Drinking WaterIn-house
										li TelephoneIndividual controller air-conditioning
										li Hair-dryer
								.content__item.col-xl-6
									ul.tourDetail__list.style-2
										li Non - refundable
										li Non - reschedulable
							.note
								ul.tourDetail__list.style-3
									li Easy cancellation
									li We allow great flexibility when you have to cancel your trip and charge a minimal fee.
.tourDetail__information.tourDetail__section.tourDetail__information--list(data-id="tabSection-3")
	.tourDetail__informationTitleBlock
		h2.tourDetail__title Inclusions & Exclusion
	.tourDetail__content
		.group-content.row
			.content__item.col-3xl-12
				h5 Cruise Policy
				ul.tourDetail__list
					li SHUTTLE BUS round trips (Hanoi – Halong – Hanoi)
					li Welcome drink, juice, tea and coffee in the morning.
					li Entrance and sightseeing fees, KAYAKING
					li English/French speaking guide onboard
					li Luxury cabin with Air-conditioner, private bathroom, hot water, shower, standing cabin.
					li All meals mentioned above (01 lunch, 01 set menu dinner, 01 light breakfast and brunch )
					li Insurance onboard.
					li Tax and service charges
				ul.tourDetail__list.style-2
					li Hotels, airport transfer
					li Optional requested services: such as massages, beauty services, music performances, diving, Barbeques and other specific wishes can be made on prior request only
					li Drinks, tips and personal expenses
					li Beverages
					li All service non-clearly mentioned in the inclusions list.
			.note
				b Note: 
				| All distances are measured in straight lines. Actual travel distances may vary.
.tourDetail__information.tourDetail__section.tourDetail__information--list(data-id="tabSection-4")
	.tourDetail__informationTitleBlock
		h2.tourDetail__title Important Info
	.tourDetail__content
		.group-content.row
			.content__item.col-3xl-12
				h5 Cruise Policy
				ul.tourDetail__list.style-4.no-line
					li
						p Check in on board: 12:00 PM
					li
						p Check out:  10:30 AM
					li
						p The FOC rate for children under 5 years old is applicable for 1 (one) child sharing a cabin with 2 (two) adults. Only 1 (one) child under 5 years old traveling with two (2) adults is allowed for FOC per cabin.
					li
						p Children from 5-11 will pay extra charge 75% of adult rate. Children 12 and above must pay full fare as adult.
					li
						p An extra charge of USD 25.00 per extra bed if required to set up in the cabin for 02 days/1night program or USD 35.00 per extra bed for 03 days/2 nights program (already included in children rate). An extra charge of USD 10.00 per baby cot for 02 days/1 night program or USD 15.00 per baby cot for 03 days/ 2nights program if require. This extra service is subject to Paradise Cruises availability.
					li
						p The child rate for children from 5 to 12 years old is applicable for 1 (one) child sharing a cabin with 2 (two) adults. In case the child occupies the sole cabin, the rate for adult is applied
					li
						p Peak season surcharge: Surcharge of $50 per person per night applies for travel period from 20 December 2016 to 5 January 2017.
					li
						p Shuttle bus: $35/ adult and $30/ child round trip. Pick up point: at hotel in Hanoi Old Quarter or in front of Hanoi Opera House