.tourDetail__information.tourDetail__section.tourDetail__information--list(data-id="tabSection-2")
	.tourDetail__informationTitleBlock
		h2.tourDetail__title About our guide
	.tourDetail__content
		.group-content.row
			.content__item.col-3xl-6
				ul.tourDetail__list
					li He live in Hoi An
					li He speak English, Vietnamese
			.content__item.col-3xl-6
				ul.tourDetail__list
					li His passions are Charities, Local History.
					li Verified Local Host
.tourDetail__information.tourDetail__section.tourDetail__information--list(data-id="tabSection-3")
	.tourDetail__informationTitleBlock
		h2.tourDetail__title Guide’s Passions
	.tourDetail__content
		.group-content.row
			.content__item.col-3xl-12
				ul.tourDetail__list
					li He love it, It’s keep fresh and He get a lot of knowledge.
					li It’s easy, cheap and free.
					li His mother is close to his. They talk many time in a day.