.tourDetailType
	.tourDetailType__title
		h2.tourDetail__title LOẠI PHÒNG
	.tourDetailType__list
		label.form__checkbox--custom-1.tourDetailType__checkbox
			input(type="radio" name="type-room")
			.tourDetailType__content
				h4
					b MẶC ĐỊNH
					span 1 Giường Đơn
				p
					b 960,000
					span Per/Night
		label.form__checkbox--custom-1.tourDetailType__checkbox
			input(type="radio" name="type-room")
			.tourDetailType__content
				h4
					b VIP
					span 1 Giường Đôi
				p
					b 1,200,000
					span Per/Night
		label.form__checkbox--custom-1.tourDetailType__checkbox
			input(type="radio" name="type-room")
			.tourDetailType__content
				h4
					b SUPER VIP
					span 1 Giường Đôi, 1 Giường Đơn
				p
					b 2,000,000
					span Per/Night