section.billingPayment.pd-80
	.container-fluid
		.mainWrapper
			.row
				.col-lg-8
					form.billingPayment__wrapper.shadow--1.pd-50
						h4.tourDetail__title.text-uppercase Billing Information
						.billingPayment__method
							p Please select forms of payments
							.billingPayment__checkbox
								.form__group
									label.form__checkbox--custom-1.d-block
										input(type="checkbox")
										span Direct Bank Transfer
								.form__group
									label.form__checkbox--custom-1.d-block
										input(type="checkbox")
										span Payment by VISA, Master, JCB Card
						.billingPayment__rules.pt-50
							h4.tourDetail__title.text-uppercase Terms of Payment
							.billingPayment__content
								p Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae eius iste dignissimos impedit repellendus explicabo laboriosam odit quae, quis molestiae excepturi dolor qui blanditiis accusamus repellat voluptatum harum optio rerum?
								p Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae eius iste dignissimos impedit repellendus explicabo laboriosam odit quae, quis molestiae excepturi dolor qui blanditiis accusamus repellat voluptatum harum optio rerum?
								p Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae eius iste dignissimos impedit repellendus explicabo laboriosam odit quae, quis molestiae excepturi dolor qui blanditiis accusamus repellat voluptatum harum optio rerum?
								p Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae eius iste dignissimos impedit repellendus explicabo laboriosam odit quae, quis molestiae excepturi dolor qui blanditiis accusamus repellat voluptatum harum optio rerum?
								p Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae eius iste dignissimos impedit repellendus explicabo laboriosam odit quae, quis molestiae excepturi dolor qui blanditiis accusamus repellat voluptatum harum optio rerum?
								p Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae eius iste dignissimos impedit repellendus explicabo laboriosam odit quae, quis molestiae excepturi dolor qui blanditiis accusamus repellat voluptatum harum optio rerum?
								p Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae eius iste dignissimos impedit repellendus explicabo laboriosam odit quae, quis molestiae excepturi dolor qui blanditiis accusamus repellat voluptatum harum optio rerum?
								p Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae eius iste dignissimos impedit repellendus explicabo laboriosam odit quae, quis molestiae excepturi dolor qui blanditiis accusamus repellat voluptatum harum optio rerum?
								p Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae eius iste dignissimos impedit repellendus explicabo laboriosam odit quae, quis molestiae excepturi dolor qui blanditiis accusamus repellat voluptatum harum optio rerum?
						.billingPayment__agree
							label.form__checkbox--custom-1
								input(type="checkbox")
								span I agree with your payment terms of services
						.billingPayment__buttons
							a.btn.btn__submit--reverse(href="javascript:void(0)") PURCHASE
				.col-lg-4
					.cartAside__mobileToggle
						.cartAside__title
							p Total
							p.cartAside__totalPrice 8.490.000 đ
							span.fal.fa-chevron-up
					.cartAside.shadow--1
						.cartAside__title
							p Total
							p.cartAside__totalPrice 8.490.000 đ
						.cartAside__wrapper
							.cartAside__options
								.cartAsideOption
									.cartAsideOption__title
										h4 Premade Tour
											a.fal.fa-edit(href="#")
										.cartAsideOption__price 8.490.000 đ
										span.fas.fa-chevron-down.cartAsideOption__iconToggle
									.cartAsideOption__list
										label.d-block.form__checkbox--custom-1
											input(type="checkbox")
											span Trekking in Sapa
										label.d-block.form__checkbox--custom-1
											input(type="checkbox")
											span Explore Northen Cuisine in 2 days
										label.d-block.form__checkbox--custom-1
											input(type="checkbox")
											span From Hoi An: Marble Mountain and …
								.cartAsideOption
									.cartAsideOption__title
										h4 HOTEL
											a.fal.fa-edit(href="#")
										.cartAsideOption__price 8.490.000 đ
										span.fas.fa-chevron-down.cartAsideOption__iconToggle
									.cartAsideOption__list
										label.d-block.form__checkbox--custom-1
											input(type="checkbox")
											span Trekking in Sapa
										label.d-block.form__checkbox--custom-1
											input(type="checkbox")
											span Explore Northen Cuisine in 2 days
										label.d-block.form__checkbox--custom-1
											input(type="checkbox")
											span From Hoi An: Marble Mountain and …
								.cartAsideOption
									.cartAsideOption__title
										h4 Cruises
											a.fal.fa-edit(href="#")
										.cartAsideOption__price 8.490.000 đ
										span.fas.fa-chevron-down.cartAsideOption__iconToggle
									.cartAsideOption__list
										label.d-block.form__checkbox--custom-1
											input(type="checkbox")
											span Trekking in Sapa
										label.d-block.form__checkbox--custom-1
											input(type="checkbox")
											span Explore Northen Cuisine in 2 days
										label.d-block.form__checkbox--custom-1
											input(type="checkbox")
											span From Hoi An: Marble Mountain and …
								.cartAsideOption
									.cartAsideOption__title
										h4 TRANSPORTATIONS
											a.fal.fa-edit(href="#")
										.cartAsideOption__price 8.490.000 đ
										span.fas.fa-chevron-down.cartAsideOption__iconToggle
									.cartAsideOption__list
										label.d-block.form__checkbox--custom-1
											input(type="checkbox")
											span Trekking in Sapa
										label.d-block.form__checkbox--custom-1
											input(type="checkbox")
											span Explore Northen Cuisine in 2 days
										label.d-block.form__checkbox--custom-1
											input(type="checkbox")
											span From Hoi An: Marble Mountain and …
								.cartAsideOption
									.cartAsideOption__title
										h4 TOUR GUIDE
											a.fal.fa-edit(href="#")
										.cartAsideOption__price 8.490.000 đ
										span.fas.fa-chevron-down.cartAsideOption__iconToggle
									.cartAsideOption__list
										label.d-block.form__checkbox--custom-1
											input(type="checkbox")
											span Trekking in Sapa
										label.d-block.form__checkbox--custom-1
											input(type="checkbox")
											span Explore Northen Cuisine in 2 days
										label.d-block.form__checkbox--custom-1
											input(type="checkbox")
											span From Hoi An: Marble Mountain and …
								.cartAsideOption
									.cartAsideOption__title
										h4 DISCOUNT
											a.fal.fa-edit(href="#")
										.cartAsideOption__price 8.490.000 đ
										span.fas.fa-chevron-down.cartAsideOption__iconToggle
									.cartAsideOption__list
										label.d-block.form__checkbox--custom-1
											input(type="checkbox")
											span Trekking in Sapa
										label.d-block.form__checkbox--custom-1
											input(type="checkbox")
											span Explore Northen Cuisine in 2 days
										label.d-block.form__checkbox--custom-1
											input(type="checkbox")
											span From Hoi An: Marble Mountain and …
							.cartAside__buttons
								.cartAside__buttonsWrapper
									a.voucher.mt-30(href="#")
										span.fas.fa-gift
										| Add Discount Vouchers