section.destination.pt-80
	.container-fluid
		.mainWrapper
			h2.main-title Overview
			.destination__content
				p Vietnam is a beautiful country which is well known for natural beauty, long history and multiple cultures. Therefore, it is easy to understand the reason why the number of tourists landing in Vietnam is increasing to a greater extent.
				p People who are wishing to visit a country famous for both cultural and natural beauty can prioritize Vietnam without any constraint. Even though there are thousands of places to visit, here are some highly recommended tourist spots which should not be missed once after landing in the Vietnam land: The 1000 year old capital Hanoi, breathtaking Halong Bay, peaceful Hoi An town, bustling and modern Ho Chi Minh City and countless of white sand beaches along the country from the North to the South.
				a(href="#") See more
section.map.pt-80
	.container-fluid
		.mainWrapper
			h2.main-title Explore Popular Sites of VietNam
			.map__link
				iframe(src='https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d16323905.001534132!2d104.25601303203123!3d2.7184578200616256!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1svi!2s!4v1603011099934!5m2!1svi!2s' width='100%' height='500' frameborder='0' style='border:0;' allowfullscreen='' aria-hidden='false' tabindex='0')
			.pt-80.popularDestination__slider
				.swiper-navigations.desktop
					.swiper__btn.swiper__btn--1.swiper__btn--prev.shadow--1
						.far.fa-chevron-left
					.swiper__btn.swiper__btn--1.swiper__btn--next.shadow--1
						.far.fa-chevron-right
				.swiper-container
					.swiper-wrapper
						.swiper-slide
							a.destinationItem--1.d-block.overflow-hidden(href="/travel-style.html")
								.destinationItem__img
									img.fullsize.object-cover(src="./assets/destinations/1.jpg")
								.destinationItem__content
									h4.destinationItem__title Bai Dinh Pagoda
									//- p.destinationItem__description
									//- 	span.fas.fa-map-marker-alt
									//- 	span.fs-14 Ninh Binh Province, Vietnam
						.swiper-slide
							a.destinationItem--1.d-block.overflow-hidden(href="/travel-style.html")
								.destinationItem__img
									img.fullsize.object-cover(src="./assets/destinations/1.jpg")
								.destinationItem__content
									h4.destinationItem__title Bai Dinh Pagoda
									//- p.destinationItem__description
									//- 	span.fas.fa-map-marker-alt
									//- 	span.fs-14 Ninh Binh Province, Vietnam
						.swiper-slide
							a.destinationItem--1.d-block.overflow-hidden(href="/travel-style.html")
								.destinationItem__img
									img.fullsize.object-cover(src="./assets/destinations/1.jpg")
								.destinationItem__content
									h4.destinationItem__title Bai Dinh Pagoda
									//- p.destinationItem__description
									//- 	span.fas.fa-map-marker-alt
									//- 	span.fs-14 Ninh Binh Province, Vietnam
						.swiper-slide
							a.destinationItem--1.d-block.overflow-hidden(href="/travel-style.html")
								.destinationItem__img
									img.fullsize.object-cover(src="./assets/destinations/1.jpg")
								.destinationItem__content
									h4.destinationItem__title Bai Dinh Pagoda
									//- p.destinationItem__description
									//- 	span.fas.fa-map-marker-alt
									//- 	span.fs-14 Ninh Binh Province, Vietnam
						.swiper-slide
							a.destinationItem--1.d-block.overflow-hidden(href="/travel-style.html")
								.destinationItem__img
									img.fullsize.object-cover(src="./assets/destinations/1.jpg")
								.destinationItem__content
									h4.destinationItem__title Bai Dinh Pagoda
									//- p.destinationItem__description
									//- 	span.fas.fa-map-marker-alt
									//- 	span.fs-14 Ninh Binh Province, Vietnam
						.swiper-slide
							a.destinationItem--1.d-block.overflow-hidden(href="/travel-style.html")
								.destinationItem__img
									img.fullsize.object-cover(src="./assets/destinations/1.jpg")
								.destinationItem__content
									h4.destinationItem__title Bai Dinh Pagoda
									//- p.destinationItem__description
									//- 	span.fas.fa-map-marker-alt
									//- 	span.fs-14 Ninh Binh Province, Vietnam
					.swiper__pagination.index__swiper__pagination.mobile