section.de-2.pt-80
	.container-fluid
		.mainWrapper.line
			p.de__title Best tours
			p.de__country Oh! VietNam
			h2.main-title More Awesome Vietnam Tours for you!
			.bestTour__slideWrapper
				.swiper-navigations.desktop
					.swiper__btn.swiper__btn--1.swiper__btn--prev.shadow--1
						.far.fa-chevron-left
					.swiper__btn.swiper__btn--1.swiper__btn--next.shadow--1
						.far.fa-chevron-right
				.swiper-container
					.swiper-wrapper
						.swiper-slide
							a.tourNewsItem(href="premade-tour.html")
								.tourNewsItem__img.overflow-hidden
									img.fullsize.object-cover(src="./assets/destinations/5.jpg")
								.tourNewsItem__content
									.tourNewsItem__note
										span #Hotels
									h4.tourNewsItem__title Ha Long Bay, Vietnam
									.tourNewsItem__rating.rating__bar
										.star
										.star__color(data-rating="0.7")
									.tourNewsItem__bottom
										.tourNewsItem__price
											span From 
											b $500
										span.btn.btn__submit See more
						.swiper-slide
							a.tourNewsItem(href="premade-tour.html")
								.tourNewsItem__img.overflow-hidden
									img.fullsize.object-cover(src="./assets/destinations/5.jpg")
								.tourNewsItem__content
									.tourNewsItem__note
										span #Hotels
									h4.tourNewsItem__title Ha Long Bay, Vietnam
									.tourNewsItem__rating.rating__bar
										.star
										.star__color(data-rating="0.7")
									.tourNewsItem__bottom
										.tourNewsItem__price
											span From 
											b $500
										span.btn.btn__submit See more
						.swiper-slide
							a.tourNewsItem(href="premade-tour.html")
								.tourNewsItem__img.overflow-hidden
									img.fullsize.object-cover(src="./assets/destinations/5.jpg")
								.tourNewsItem__content
									.tourNewsItem__note
										span #Hotels
									h4.tourNewsItem__title Ha Long Bay, Vietnam
									.tourNewsItem__rating.rating__bar
										.star
										.star__color(data-rating="0.7")
									.tourNewsItem__bottom
										.tourNewsItem__price
											span From 
											b $500
										span.btn.btn__submit See more
						.swiper-slide
							a.tourNewsItem(href="premade-tour.html")
								.tourNewsItem__img.overflow-hidden
									img.fullsize.object-cover(src="./assets/destinations/5.jpg")
								.tourNewsItem__content
									.tourNewsItem__note
										span #Hotels
									h4.tourNewsItem__title Ha Long Bay, Vietnam
									.tourNewsItem__rating.rating__bar
										.star
										.star__color(data-rating="0.7")
									.tourNewsItem__bottom
										.tourNewsItem__price
											span From 
											b $500
										span.btn.btn__submit See more
						.swiper-slide
							a.tourNewsItem(href="premade-tour.html")
								.tourNewsItem__img.overflow-hidden
									img.fullsize.object-cover(src="./assets/destinations/5.jpg")
								.tourNewsItem__content
									.tourNewsItem__note
										span #Hotels
									h4.tourNewsItem__title Ha Long Bay, Vietnam
									.tourNewsItem__rating.rating__bar
										.star
										.star__color(data-rating="0.7")
									.tourNewsItem__bottom
										.tourNewsItem__price
											span From 
											b $500
										span.btn.btn__submit See more
						.swiper-slide
							a.tourNewsItem(href="premade-tour.html")
								.tourNewsItem__img.overflow-hidden
									img.fullsize.object-cover(src="./assets/destinations/5.jpg")
								.tourNewsItem__content
									.tourNewsItem__note
										span #Hotels
									h4.tourNewsItem__title Ha Long Bay, Vietnam
									.tourNewsItem__rating.rating__bar
										.star
										.star__color(data-rating="0.7")
									.tourNewsItem__bottom
										.tourNewsItem__price
											span From 
											b $500
										span.btn.btn__submit See more
					.swiper__pagination.index__swiper__pagination.mobile