section.de-3.pt-80
	.container-fluid
		.mainWrapper.line
			p.de__title Explore more
			h2.main-title Discover Vietnam in Interesting Categories
			.row.justify-center
				.col-lg-11.col-xl-10
					.categoriesGrid
						.categoriesItem
							a.destinationItem--1.d-block.overflow-hidden(href="/travel-style.html")
								.destinationItem__img
									img.fullsize.object-cover(src="./assets/destinations/1.jpg")
								.destinationItem__content
									h4.destinationItem__title Bai Dinh Pagoda
						.categoriesItem
							a.destinationItem--1.d-block.overflow-hidden(href="/travel-style.html")
								.destinationItem__img
									img.fullsize.object-cover(src="./assets/destinations/1.jpg")
								.destinationItem__content
									h4.destinationItem__title Bai Dinh Pagoda
						.categoriesItem
							a.destinationItem--1.d-block.overflow-hidden(href="/travel-style.html")
								.destinationItem__img
									img.fullsize.object-cover(src="./assets/destinations/1.jpg")
								.destinationItem__content
									h4.destinationItem__title Bai Dinh Pagoda
						.categoriesItem
							a.destinationItem--1.d-block.overflow-hidden(href="/travel-style.html")
								.destinationItem__img
									img.fullsize.object-cover(src="./assets/destinations/1.jpg")
								.destinationItem__content
									h4.destinationItem__title Bai Dinh Pagoda
						.categoriesItem
							a.destinationItem--1.d-block.overflow-hidden(href="/travel-style.html")
								.destinationItem__img
									img.fullsize.object-cover(src="./assets/destinations/1.jpg")
								.destinationItem__content
									h4.destinationItem__title Bai Dinh Pagoda
						.categoriesItem
							a.destinationItem--1.d-block.overflow-hidden(href="/travel-style.html")
								.destinationItem__img
									img.fullsize.object-cover(src="./assets/destinations/1.jpg")
								.destinationItem__content
									h4.destinationItem__title Bai Dinh Pagoda
				.col-12.formTourSearch__loadmore.text-center
					a.text-uppercase Load more 
					span.fas.fa-redo-alt