section.de-6.pt-80
	.container-fluid
		.mainWrapper.line
			p.de__title Blog
			h2.main-title Vietnam travel articles
			.indexNews__slideWrapper
				.index__swiper-navigations.desktop
					.swiper__btn.swiper__btn--1.swiper__btn--prev.shadow--1
						.fal.fa-chevron-left
					.swiper__btn.swiper__btn--1.swiper__btn--next.shadow--1
						.fal.fa-chevron-right
				.swiper-container
					.swiper-wrapper
						.swiper-slide
							a(href="/blog-detail.html").tourNewsItem
								.tourNewsItem__img.overflow-hidden
									img.fullsize.object-cover(src="./assets/destinations/5.jpg")
								.tourNewsItem__content
									h4.tourNewsItem__title Ha Long Bay, Vietnam
									.tourNewsItem__rating.rating__bar
										.star
										.star__color(data-rating="0.7")
									.tourNewsItem__review.d-flex.align-center
										.tourNewsItem__reviewContent
											p By Xu Kien - July 26, 2020
										//- .tourNewsItem__reviewFlag
										//- 	img(src="./assets/flag.svg", alt="")
									.tourNewsItem__socials
										span
											img(src="./assets/icons/news_facebook.svg")
										span
											img(src="./assets/icons/news_twitter.svg")
										span
											img(src="./assets/icons/news_other.svg")
									.tourNewsItem__description
										p Well done route, captain - SUPER! It is very welcoming and friendly, which lifts the mood and the series
									.tourNewsItem__button
										span.fs-16.fw-700 See more
						.swiper-slide
							a(href="/blog-detail.html").tourNewsItem
								.tourNewsItem__img.overflow-hidden
									img.fullsize.object-cover(src="./assets/destinations/6.jpg")
								.tourNewsItem__content
									h4.tourNewsItem__title Ha Long Bay, Vietnam
									.tourNewsItem__rating.rating__bar
										.star
										.star__color(data-rating="0.7")
									.tourNewsItem__review.d-flex.align-center
										.tourNewsItem__reviewContent
											p By Xu Kien - July 26, 2020
										//- .tourNewsItem__reviewFlag
										//- 	img(src="./assets/flag.svg", alt="")
									.tourNewsItem__socials
										span
											img(src="./assets/icons/news_facebook.svg")
										span
											img(src="./assets/icons/news_twitter.svg")
										span
											img(src="./assets/icons/news_other.svg")
									.tourNewsItem__description
										p Well done route, captain - SUPER! It is very welcoming and friendly, which lifts the mood and the series of houses of wonderful architecture seems even more beautiful and leaves just a fabulous impression of Amsterdam. Ron and Nel in the form of a cheerful dialogue told interesting stories about Amsterdam and its inhabitants. Loved the tour and attractive price…
									.tourNewsItem__button
										span.fs-16.fw-700 See more
						.swiper-slide
							a(href="/blog-detail.html").tourNewsItem
								.tourNewsItem__img.overflow-hidden
									img.fullsize.object-cover(src="./assets/destinations/7.jpg")
								.tourNewsItem__content
									h4.tourNewsItem__title Ha Long Bay, Vietnam
									.tourNewsItem__rating.rating__bar
										.star
										.star__color(data-rating="0.7")
									.tourNewsItem__review.d-flex.align-center
										.tourNewsItem__reviewContent
											p By Xu Kien - July 26, 2020
										//- .tourNewsItem__reviewFlag
										//- 	img(src="./assets/flag.svg", alt="")
									.tourNewsItem__socials
										span
											img(src="./assets/icons/news_facebook.svg")
										span
											img(src="./assets/icons/news_twitter.svg")
										span
											img(src="./assets/icons/news_other.svg")
									.tourNewsItem__description
										p Well done route, captain - SUPER! It is very welcoming and friendly, which lifts the mood and the series of houses of wonderful architecture seems even more beautiful and leaves just a fabulous impression of Amsterdam. Ron and Nel in the form of a cheerful dialogue told interesting stories about Amsterdam and its inhabitants. Loved the tour and attractive price…
									.tourNewsItem__button
										span.fs-16.fw-700 See more
						
						.swiper-slide
							a(href="/blog-detail.html").tourNewsItem
								.tourNewsItem__img.overflow-hidden
									img.fullsize.object-cover(src="./assets/destinations/7.jpg")
								.tourNewsItem__content
									h4.tourNewsItem__title Ha Long Bay, Vietnam
									.tourNewsItem__rating.rating__bar
										.star
										.star__color(data-rating="0.7")
									.tourNewsItem__review.d-flex.align-center
										.tourNewsItem__reviewContent
											p By Xu Kien - July 26, 2020
										//- .tourNewsItem__reviewFlag
										//- 	img(src="./assets/flag.svg", alt="")
									.tourNewsItem__socials
										span
											img(src="./assets/icons/news_facebook.svg")
										span
											img(src="./assets/icons/news_twitter.svg")
										span
											img(src="./assets/icons/news_other.svg")
									.tourNewsItem__description
										p Well done route, captain - SUPER! It is very welcoming and friendly, which lifts the mood and the series of houses of wonderful architecture seems even more beautiful and leaves just a fabulous impression of Amsterdam. Ron and Nel in the form of a cheerful dialogue told interesting stories about Amsterdam and its inhabitants. Loved the tour and attractive price…
									.tourNewsItem__button
										span.fs-16.fw-700 See more
						
						.swiper-slide
							a(href="/blog-detail.html").tourNewsItem
								.tourNewsItem__img.overflow-hidden
									img.fullsize.object-cover(src="./assets/destinations/7.jpg")
								.tourNewsItem__content
									h4.tourNewsItem__title Ha Long Bay, Vietnam
									.tourNewsItem__rating.rating__bar
										.star
										.star__color(data-rating="0.7")
									.tourNewsItem__review.d-flex.align-center
										.tourNewsItem__reviewContent
											p By Xu Kien - July 26, 2020
										//- .tourNewsItem__reviewFlag
										//- 	img(src="./assets/flag.svg", alt="")
									.tourNewsItem__socials
										span
											img(src="./assets/icons/news_facebook.svg")
										span
											img(src="./assets/icons/news_twitter.svg")
										span
											img(src="./assets/icons/news_other.svg")
									.tourNewsItem__description
										p Well done route, captain - SUPER! It is very welcoming and friendly, which lifts the mood and the series of houses of wonderful architecture seems even more beautiful and leaves just a fabulous impression of Amsterdam. Ron and Nel in the form of a cheerful dialogue told interesting stories about Amsterdam and its inhabitants. Loved the tour and attractive price…
									.tourNewsItem__button
										span.fs-16.fw-700 See more
					.swiper__pagination.index__swiper__pagination