section.subpage-tab-navigation
	.container-fluid
		.mainWrapper
			.subpage-tab-navigation-wrapper.justify-center
				ul.scrollspyWrapper.list-nav
					li.nav__item
						a.nav__link(href="#") Overview
					li.nav__item
						a.nav__link(href="#") Best tours
					li.nav__item
						a.nav__link(href="#") Explore more
					li.nav__item
						a.nav__link(href="#") Top attractions
					li.nav__item
						a.nav__link(href="#") Review