section.visaContent.pb-80
	.container
		.content
			p Almost all visitors to Vietnam need a visa to enter the country, although some qualified exemptions apply for citizens of those countries with bilateral reciprocal agreements with Vietnam. Depending upon the nationality and passport of the applicant, a tourist visa may be granted for either a fifteen (15) or thirty (30) day stay in Vietnam.
			h4 a. Visa fee
			p Almost all visitors to Vietnam need a visa to enter the country, although some qualified exemptions apply for citizens of those countries with bilateral reciprocal agreements with Vietnam. Depending upon the nationality and passport of the applicant, a tourist visa may be granted for either a fifteen (15) or thirty (30) day stay in Vietnam.
			h4 a. Visa fee
			p.has-checked Visa stamping fee (government official fee) is paid on arrival while picking up your visa on arrival at the airport as below:
			table
				thead
					tr
						th Tpyes
						th Price
				tbody
					tr
						td Single entry (1-3 months)
						td 25 USD/pax
					tr
						td Multiple entry (1-3 months)
						td 50 USD/pax
					tr
						td 6-month visa
						td 95 USD/pax
					tr
						td 1 year visa
						td 135 USD/pax
			p.has-checked
				b Service fee 
				| is paid to the company who follows-up the procedures at the Immigration of Vietnam to get your visa approval letter and send it to your email. Service fee is paid to the company who follows-up the procedures at the Immigration of Vietnam to get your visa approval letter and send it to your email. Explore Real Asia will assist you for the formalities. Processing visa application takes 5 working days minimum
			h4 b. Visa document
			p To save time when picking up the visa at Vietnam airport, please prepare some documents as below prior your trip:
			ul.has-checked
				li Original passport (more than 6 months validation with at least 2 blank pages)
				li The visa approval letter (printed in paper already)
				li The Vietnamese visa application form (Form N1) which completed information and attached photo already (We will send it to your email)
			h3.text-center VIETNAM VISA EXEMPTION
			form(action="#")
				.form__group--type-1
					input.form__control(type="text" placeholder="Your country")
					button.btn__submit--reverse.text-uppercase Search
			table.center
				thead
					tr
						th Area
						th Country
						th Term of Residence
				tbody
					tr
						td(rowspan="5") Asia
						td Thailand
						td 30 days - Valid until 30 Jun, 2021
					tr
						td Malaysia
						td 30 days - Valid until 30 Jun, 2021
					tr
						td Singapore
						td 15 days - Valid until 30 Jun, 2021
					tr
						td Indonesia
						td 15 days - Valid until 30 Jun, 2021
					tr
						td Cambodia
						td 15 days - Valid until 30 Jun, 2021
					tr
						td(rowspan="5") Asia
						td 30 days - Valid until 30 Jun, 2021
						td 30 days - Valid until 30 Jun, 2021
					tr
						td Russia
						td Temporarily Suspended
					tr
						td Denmark
						td Temporarily Suspended
					tr
						td Norway
						td Temporarily Suspended
					tr
						td UnitedKingdom
						td Temporarily Suspended
					tr
						td South America
						td Chile
						td Temporarily Suspended
			h4 c. How to get the visa at airport
			p.has-checked At Noi Bai airoprt
			p After you submit documents to Visa landing office, you need to wait while they process it. If it is busy, keep your eyes and ears open as they will call out your name or hold up your passport / photo. In this step, you will pay for the stamping fee.
			p If you get the visa with some passports for you and your friends, you will receive 1 pink receipt for all, the visas will already be in the passports. Check the visas for errors while still at the window. After receiving your passports back, proceed to the ‘foreigners’ Control passport counter and get the stamp into your passport.
			p.has-checked At Da Nang airport
			p At Da Nang International airport (Da Nang city), please follow the exit signs. As soon as you enter the huge hall it is very easy to find the Visa On Arrival window - it is on the left hand side and is clearly visible.
			p The process is quite quick (approximately 15 minutes with all necessary paperwork completed before landing) but do bear in mind there is no guarantee it will be always be the same. After receiving visas / passports back, progress onward to Passport control to get the blue stamp into your passport.
			p.has-checked At Ho Chi Minh airport
			p At Tan Son Nhat International Airport (Ho Chi Minh City) the Vietnam visa on arrival counter is situated on the left as you enter the immigration hall.
			p The Visa on arrival office is signed Landing Visa – Cấp thị thực tại chỗ”. You will come to this place first to submit your documents and get the visa into your passport.
			h3 E- VISA
			p Since February 1st 2017, the Government of Vietnam has implemented the e-Visa. The new online process simplifies the procedures to enter Vietnam by allowing travellers to apply directly online for a visa.
			p You can find guide useful and information on Eligible Coutries via link to the new VietNam E- visa System as below:
			a(href="#") https://evisa.xuatnhapcanh.gov.vn/web/guest/trang-chu-ttdt
		.share-socials.justify-end
			span SHARE THIS
			a(href="#" style="--color:#32599D").btn.item-share-social
				i.fab.fa-facebook-f
			a(href="#" style="--color:#00C2EA").btn.item-share-social
				i.fab.fa-twitter
			a(href="#" style="--color:#DE0018").btn.item-share-social
				i.fab.fa-pinterest-p
			a(href="#" style="--color:#00679E").btn.item-share-social
				i.fab.fa-linkedin-in
		