extends components/layouts/_layout.pug

block var
	- let title = 'About';
	- let bodyClass = 'about-page';
	- let image__SubpageBanner = "./assets/banner/banner_about.jpg";
	- let title__SubpageBanner = "About ERA";
	- let subtitle__SubpageBanner = "We are Era (Explore Real Asia)";

block loading
	include components/layouts/_loading
block banner,breadcrumb
	include components/layouts/_subpage-banner
block main
	include components/about/nav
	include components/about/ab-1
	include components/about/ab-2
	include components/about/ab-3
	include components/about/ab-4
	include components/about/ab-5
	include components/about/ab-6
	include components/about/ab-7
	include components/about/ab-8
block scripts
