extends components/layouts/_layout

block var
	- let title = 'Page | Billing Payment';
	- let bodyClass = 'billing-payment';
	- let breadcrumb = [{title: 'Review your plan',url: "#",active:true},{title: 'Filling Information',url: "#",active:true},{title: 'Billing Payment',url: "#",active:true}]

block loading
	include components/layouts/_loading
block banner,breadcrumb
block main
	+breadcrumb(breadcrumb)
	include components/billing-payment/b-1
block scripts
