extends components/layouts/_layout.pug

block var
	- let title = 'Hotel';
	- let bodyClass = 'product-page';
	- let image__SubpageBanner = "./assets/banner/banner_hotel.jpg";
	- let title__SubpageBanner = "Hotels";
	- let subtitle__SubpageBanner = "Whatever your needs, our excellent selection of hotels";

block loading
	include components/layouts/_loading
block banner,breadcrumb
	include components/layouts/_subpage-banner
	include components/hotel/search
block main
	include components/hotel/h-1
block scripts
