extends components/layouts/_layout.pug

block var
	- let title = 'Page | Index';
	- let bodyClass = 'index-page';

block loading
	include components/layouts/_loading
block banner,breadcrumb
block header
	include components/layouts/_header.index.pug
block main
	include components/index/i-1
	.tourSearch__iconToggle.flex-center
		span.fal.fa-calendar-alt
	.tourSearch
		.tourSearch__container.desktop
			form.tourSearch__form.d-flex.flex-wrap#tourSearch__form(action="")
				.tourSearch__formGroup.d-flex
					.tourSearch__keyword
						input.input-control.fs-18(type="text" placeholder="Where are you going?")
					.tourSearch__date.datePicker(date-picker)
						input.datePicker__input(type='text' autocomplete='off' data-date-range)
						label.datePicker__label
							span.fal.fa-calendar-alt.datePicker__icon
							span.label.datePicker__text Start
							img.datePicker__arrow(src='./assets/icons/arrow_long.svg')
							span.label.datePicker__text End
					.tourSearch__select
						select.input-control.fs-18
							option 1 Adults
							option 2 Adults
							option 1 Children
				.tourSearch__button
					button.btn.btn__submit--reverse Find now
	include components/index/i-2
	include components/index/i-3
	include components/index/i-4
	include components/index/i-5
	include components/index/i-6
	include components/index/i-7
block scripts
