extends components/layouts/_layout.pug

block var
	- let title = 'Pre Transportation';
	- let bodyClass = 'pre-transportation-page';

block loading
	include components/layouts/_loading
block banner,breadcrumb
	include components/layouts/_breadcrumb
	include components/pre-transportation/p-1
	include components/index/i-7
block main
block scripts