.homeBanner
	.homeBanner__slider
		.swiper-container
			.swiper-wrapper
				.swiper-slide.overflow-hidden
					a(href="/")
						img.fullsize.object-cover(src="./assets/banner_1.jpg")
				.swiper-slide.overflow-hidden
					a(href="/")
						img.fullsize.object-cover(src="./assets/banner_1.jpg")
				.swiper-slide.overflow-hidden
					a(href="/")
						img.fullsize.object-cover(src="./assets/banner_1.jpg")
				.swiper-slide.overflow-hidden
					a(href="/")
						img.fullsize.object-cover(src="./assets/banner_1.jpg")
			.swiper__pagination--banner
	.homeBanner__content
		h1 Welcome to ERA