.homePopularDestination.pd-80
	.container-fluid
		.mainWrapper
			.section__titleWrapper
				h2.homeTitle.text-center Popular Destination
				p.homeDescription.text-center From historical cities to natural splendours, come see the best of world!
			.homePopularDestination__slideWrapper.popularDestination__js
				.swiper-navigations
					.swiper__btn.swiper__btn--1.swiper__btn--prev
						.far.fa-chevron-left
					.swiper__btn.swiper__btn--1.swiper__btn--next
						.far.fa-chevron-right
				.swiper-container
					.swiper-wrapper
						.swiper-slide
							a.destinationItem--1.d-block.overflow-hidden(href="/premade-tour.html")
								.destinationItem__img
									img.fullsize.object-cover(src="./assets/destinations/1.jpg")
								.destinationItem__content
									h4.destinationItem__title Bai Dinh Pagoda
									p.destinationItem__description
										span.fas.fa-map-marker-alt
										span.fs-14 Ninh Binh Province, Vietnam
						.swiper-slide
							a.destinationItem--1.d-block.overflow-hidden(href="/premade-tour.html")
								.destinationItem__img
									img.fullsize.object-cover(src="./assets/destinations/2.jpg")
								.destinationItem__content
									h4.destinationItem__title Bai Dinh Pagoda
									p.destinationItem__description
										span.fas.fa-map-marker-alt
										span.fs-14 Ninh Binh Province, Vietnam
						.swiper-slide
							a.destinationItem--1.d-block.overflow-hidden(href="/premade-tour.html")
								.destinationItem__img
									img.fullsize.object-cover(src="./assets/destinations/3.jpg")
								.destinationItem__content
									h4.destinationItem__title Bai Dinh Pagoda
									p.destinationItem__description
										span.fas.fa-map-marker-alt
										span.fs-14 Ninh Binh Province, Vietnam
						.swiper-slide
							a.destinationItem--1.d-block.overflow-hidden(href="/premade-tour.html")
								.destinationItem__img
									img.fullsize.object-cover(src="./assets/destinations/4.jpg")
								.destinationItem__content
									h4.destinationItem__title Bai Dinh Pagoda
									p.destinationItem__description
										span.fas.fa-map-marker-alt
										span.fs-14 Ninh Binh Province, Vietnam
						.swiper-slide
							a.destinationItem--1.d-block.overflow-hidden(href="/premade-tour.html")
								.destinationItem__img
									img.fullsize.object-cover(src="./assets/destinations/2.jpg")
								.destinationItem__content
									h4.destinationItem__title Bai Dinh Pagoda
									p.destinationItem__description
										span.fas.fa-map-marker-alt
										span.fs-14 Ninh Binh Province, Vietnam
					.swiper__pagination.index__swiper__pagination