.testimonials.pb-80
	.container-fluid
		.mainWrapper.pt-80
			.section__titleWrapper
				h2.homeTitle.text-center Testimonials
				//- p.homeDescription.text-center From historical cities to natural splendours, come to see the best visited places!
			.testimonials__slideWrapper
				.index__swiper-navigations.desktop
					.swiper__btn.swiper__btn--1.swiper__btn--prev.shadow--1
						.far.fa-chevron-left
					.swiper__btn.swiper__btn--1.swiper__btn--next.shadow--1
						.far.fa-chevron-right
				.swiper-container
					.swiper-wrapper
						.swiper-slide
							a.tourNewsItem(href="#")
								.tourNewsItem__img.overflow-hidden
									img.fullsize.object-cover(src="./assets/destinations/5.jpg")
								.tourNewsItem__content
									h4.tourNewsItem__title Ha Long Bay, Vietnam
									.tourNewsItem__rating.rating__bar
										.star
										.star__color(data-rating="0.7")
									.tourNewsItem__review.d-flex.align-center
										.tourNewsItem__reviewContent
											p reviewed by Galina – Netherlands
											time March 5, 2020
										.tourNewsItem__reviewFlag
											img(src="./assets/flag.svg", alt="")
									.tourNewsItem__description
										p Well done route, captain - SUPER! It is very welcoming and friendly, which lifts the mood and the series
									.tourNewsItem__button
										span.fs-16.fw-700(href="#") See more
						.swiper-slide
							a.tourNewsItem(href="#")
								.tourNewsItem__img.overflow-hidden
									img.fullsize.object-cover(src="./assets/destinations/6.jpg")
								.tourNewsItem__content
									h4.tourNewsItem__title Ha Long Bay, Vietnam
									.tourNewsItem__rating.rating__bar
										.star
										.star__color(data-rating="0.7")
									.tourNewsItem__review.d-flex.align-center
										.tourNewsItem__reviewContent
											p reviewed by Galina – Netherlands
											time March 5, 2020
										.tourNewsItem__reviewFlag
											img(src="./assets/flag.svg", alt="")
									.tourNewsItem__description
										p Well done route, captain - SUPER! It is very welcoming and friendly, which lifts the mood and the series of houses of wonderful architecture seems even more beautiful and leaves just a fabulous impression of Amsterdam. Ron and Nel in the form of a cheerful dialogue told interesting stories about Amsterdam and its inhabitants. Loved the tour and attractive price…
									.tourNewsItem__button
										span.fs-16.fw-700(href="#") See more
						.swiper-slide
							a.tourNewsItem(href="#")
								.tourNewsItem__img.overflow-hidden
									img.fullsize.object-cover(src="./assets/destinations/7.jpg")
								.tourNewsItem__content
									h4.tourNewsItem__title Ha Long Bay, Vietnam
									.tourNewsItem__rating.rating__bar
										.star
										.star__color(data-rating="0.7")
									.tourNewsItem__review.d-flex.align-center
										.tourNewsItem__reviewContent
											p reviewed by Galina – Netherlands
											time March 5, 2020
										.tourNewsItem__reviewFlag
											img(src="./assets/flag.svg", alt="")
									.tourNewsItem__description
										p Well done route, captain - SUPER! It is very welcoming and friendly, which lifts the mood and the series of houses of wonderful architecture seems even more beautiful and leaves just a fabulous impression of Amsterdam. Ron and Nel in the form of a cheerful dialogue told interesting stories about Amsterdam and its inhabitants. Loved the tour and attractive price…
									.tourNewsItem__button
										span.fs-16.fw-700(href="#") See more
						.swiper-slide
							a.tourNewsItem(href="#")
								.tourNewsItem__img.overflow-hidden
									img.fullsize.object-cover(src="./assets/destinations/8.jpg")
								.tourNewsItem__content
									h4.tourNewsItem__title Ha Long Bay, Vietnam
									.tourNewsItem__rating.rating__bar
										.star
										.star__color(data-rating="0.7")
									.tourNewsItem__review.d-flex.align-center
										.tourNewsItem__reviewContent
											p reviewed by Galina – Netherlands
											time March 5, 2020
										.tourNewsItem__reviewFlag
											img(src="./assets/flag.svg", alt="")
									.tourNewsItem__description
										p Well done route, captain - SUPER! It is very welcoming and friendly, which lifts the mood and the series of houses of wonderful architecture seems even more beautiful and leaves just a fabulous impression of Amsterdam. Ron and Nel in the form of a cheerful dialogue told interesting stories about Amsterdam and its inhabitants. Loved the tour and attractive price…
									.tourNewsItem__button
										span.fs-16.fw-700(href="#") See more
						.swiper-slide
							a.tourNewsItem(href="#")
								.tourNewsItem__img.overflow-hidden
									img.fullsize.object-cover(src="./assets/destinations/5.jpg")
								.tourNewsItem__content
									h4.tourNewsItem__title Ha Long Bay, Vietnam
									.tourNewsItem__rating.rating__bar
										.star
										.star__color(data-rating="0.7")
									.tourNewsItem__review.d-flex.align-center
										.tourNewsItem__reviewContent
											p reviewed by Galina – Netherlands
											time March 5, 2020
										.tourNewsItem__reviewFlag
											img(src="./assets/flag.svg", alt="")
									.tourNewsItem__description
										p Well done route, captain - SUPER! It is very welcoming and friendly, which lifts the mood and the series of houses of wonderful architecture seems even more beautiful and leaves just a fabulous impression of Amsterdam. Ron and Nel in the form of a cheerful dialogue told interesting stories about Amsterdam and its inhabitants. Loved the tour and attractive price…
									.tourNewsItem__button
										span.fs-16.fw-700(href="#") See more
					.swiper__pagination.index__swiper__pagination