.indexContact
	.container-fluid.pb-80
		.mainWrapper
			.indexContact__content.text-center
				a.btn.btn__submit--reverse.text-uppercase(href="/contact.html") Contact Us
				p Want to find out how Era can solve problems specifict to your travel? Let’s talk