section.payment-2.pd-80
	.container-fluid
		.mainWrapper
			.row
				.col-lg-8
					.formTourSearchItem.shadow--1
						.formTourSearchItem__content
							h4 Traveller 1
							.form-wrapper
								.form-profile
									label(for="") Title
										span *
									.form-checked
										.form-group
											input(type="radio", name="reason", id="mr")
											label(for="mr") Mr
										.form-group
											input(type="radio", name="reason", id="mrs")
											label(for="mrs") Mrs
										.form-group
											input(type="radio", name="reason", id="ms")
											label(for="ms") Ms
								.form-profile
									label(for="") Full Name
										span *
									.form-group
										input(type="text", name="")
								.form-profile
									label(for="") Your BirthDay
										span *
									.form-group
										input(type="text", name="", data-date)
								.form-profile
									label(for="") Email Adress
										span *
									.form-group
										input(type="email", name="")
								.form-profile
									label(for="") Phone Number
										span *
									.form-group
										.select
											select(name="")
												option(value="code-1") +84
												option(value="code-2") +85
												option(value="code-3") +86
										input(type="text", name="")
								.form-profile
									label(for="") Address
										span *
									.form-group
										input(type="text", name="")
								.form-profile
									label(for="") Gender
										span *
									.form-checked
										.form-group
											input(type="radio", name="gender", id="male")
											label(for="male") Male
										.form-group
											input(type="radio", name="gender", id="famale")
											label(for="famale") Female
								.form-profile
									label(for="") Traveller Type
										span *
									.form-checked
										.form-group
											input(type="radio", name="traveler_type", id="adults")
											label(for="adults") Adults
										.form-group
											input(type="radio", name="traveler_type", id="children")
											label(for="children") Children
										.form-group
											input(type="radio", name="traveler_type", id="infant")
											label(for="infant") Infant
					.formTourSearchItem.shadow--1
						.formTourSearchItem__content
							h4 Traveller 1
							.form-wrapper
								.form-profile
									label(for="") Title
										span *
									.form-checked
										.form-group
											input(type="radio", name="title", id="mr")
											label(for="mr") Mr
										.form-group
											input(type="radio", name="title", id="mrs")
											label(for="mrs") Mrs
										.form-group
											input(type="radio", name="title", id="ms")
											label(for="ms") Ms
								.form-profile
									label(for="") Full Name
										span *
									.form-group
										input(type="text", name="")
								.form-profile
									label(for="") Your BirthDay
										span *
									.form-group
										input(type="text", name="", data-date)
								.form-profile
									label(for="") Email Adress
										span *
									.form-group
										input(type="email", name="")
								.form-profile
									label(for="") Phone Number
										span *
									.form-group
										.select
											select(name="")
												option(value="code-1") +84
												option(value="code-2") +85
												option(value="code-3") +86
										input(type="text", name="")
								.form-profile
									label(for="") Address
										span *
									.form-group
										input(type="text", name="")
								.form-profile
									label(for="") Gender
										span *
									.form-checked
										.form-group
											input(type="radio", name="reason", id="male")
											label(for="male") Male
										.form-group
											input(type="radio", name="reason", id="famale")
											label(for="famale") Female
								.form-profile
									label(for="") Traveller Type
										span *
									.form-checked
										.form-group
											input(type="radio", name="reason", id="adults")
											label(for="adutls") Adults
										.form-group
											input(type="radio", name="reason", id="children")
											label(for="children") Children
										.form-group
											input(type="radio", name="reason", id="infant")
											label(for="infant") Infant
					.formTourSearchItem.shadow--1
						.formTourSearchItem__content
							h4 Traveller 1
							.form-wrapper
								.form-profile
									label(for="") Title
										span *
									.form-checked
										.form-group
											input(type="radio", name="reason", id="mr")
											label(for="mr") Mr
										.form-group
											input(type="radio", name="reason", id="mrs")
											label(for="mrs") Mrs
										.form-group
											input(type="radio", name="reason", id="ms")
											label(for="ms") Ms
								.form-profile
									label(for="") Full Name
										span *
									.form-group
										input(type="text", name="")
								.form-profile
									label(for="") Your BirthDay
										span *
									.form-group
										input(type="date", name="", value="2020-01-01")
								.form-profile
									label(for="") Email Adress
										span *
									.form-group
										input(type="email", name="")
								.form-profile
									label(for="") Phone Number
										span *
									.form-group
										.select
											select(name="")
												option(value="code-1") +84
												option(value="code-2") +85
												option(value="code-3") +86
										input(type="text", name="")
								.form-profile
									label(for="") Address
										span *
									.form-group
										input(type="text", name="")
								.form-profile
									label(for="") Gender
										span *
									.form-checked
										.form-group
											input(type="radio", name="reason", id="male")
											label(for="male") Male
										.form-group
											input(type="radio", name="reason", id="famale")
											label(for="famale") Female
								.form-profile
									label(for="") Traveller Type
										span *
									.form-checked
										.form-group
											input(type="radio", name="reason", id="adults")
											label(for="adutls") Adults
										.form-group
											input(type="radio", name="reason", id="children")
											label(for="children") Children
										.form-group
											input(type="radio", name="reason", id="infant")
											label(for="infant") Infant										
					.cartAside__buttons
						.cartAside__buttonsWrapper
							a.btn.btn__submit(href="javascript:void(0)") Add new Traveller
				.col-lg-4
					.cartAside__mobileToggle
						.cartAside__title
							p Total
							p.cartAside__totalPrice 8.490.000 đ
							span.fal.fa-chevron-up
					.cartAside.shadow--1
						.cartAside__title
							p Total
							p.cartAside__totalPrice 8.490.000 đ
						.cartAside__wrapper
							.cartAside__options
								.cartAsideOption
									.cartAsideOption__title
										h4 Premade Tour
											a.fal.fa-edit(href="#")
										.cartAsideOption__price 8.490.000 đ
										span.fas.fa-chevron-down.cartAsideOption__iconToggle
									.cartAsideOption__list
										label.d-block.form__checkbox--custom-1
											input(type="checkbox")
											span Trekking in Sapa
										label.d-block.form__checkbox--custom-1
											input(type="checkbox")
											span Explore Northen Cuisine in 2 days
										label.d-block.form__checkbox--custom-1
											input(type="checkbox")
											span From Hoi An: Marble Mountain and …
								.cartAsideOption
									.cartAsideOption__title
										h4 HOTEL
											a.fal.fa-edit(href="#")
										.cartAsideOption__price 8.490.000 đ
										span.fas.fa-chevron-down.cartAsideOption__iconToggle
									.cartAsideOption__list
										label.d-block.form__checkbox--custom-1
											input(type="checkbox")
											span Trekking in Sapa
										label.d-block.form__checkbox--custom-1
											input(type="checkbox")
											span Explore Northen Cuisine in 2 days
										label.d-block.form__checkbox--custom-1
											input(type="checkbox")
											span From Hoi An: Marble Mountain and …
								.cartAsideOption
									.cartAsideOption__title
										h4 Cruises
											a.fal.fa-edit(href="#")
										.cartAsideOption__price 8.490.000 đ
										span.fas.fa-chevron-down.cartAsideOption__iconToggle
									.cartAsideOption__list
										label.d-block.form__checkbox--custom-1
											input(type="checkbox")
											span Trekking in Sapa
										label.d-block.form__checkbox--custom-1
											input(type="checkbox")
											span Explore Northen Cuisine in 2 days
										label.d-block.form__checkbox--custom-1
											input(type="checkbox")
											span From Hoi An: Marble Mountain and …
								.cartAsideOption
									.cartAsideOption__title
										h4 TRANSPORTATIONS
											a.fal.fa-edit(href="#")
										.cartAsideOption__price 8.490.000 đ
										span.fas.fa-chevron-down.cartAsideOption__iconToggle
									.cartAsideOption__list
										label.d-block.form__checkbox--custom-1
											input(type="checkbox")
											span Trekking in Sapa
										label.d-block.form__checkbox--custom-1
											input(type="checkbox")
											span Explore Northen Cuisine in 2 days
										label.d-block.form__checkbox--custom-1
											input(type="checkbox")
											span From Hoi An: Marble Mountain and …
								.cartAsideOption
									.cartAsideOption__title
										h4 TOUR GUIDE
											a.fal.fa-edit(href="#")
										.cartAsideOption__price 8.490.000 đ
										span.fas.fa-chevron-down.cartAsideOption__iconToggle
									.cartAsideOption__list
										label.d-block.form__checkbox--custom-1
											input(type="checkbox")
											span Trekking in Sapa
										label.d-block.form__checkbox--custom-1
											input(type="checkbox")
											span Explore Northen Cuisine in 2 days
										label.d-block.form__checkbox--custom-1
											input(type="checkbox")
											span From Hoi An: Marble Mountain and …
								.cartAsideOption
									.cartAsideOption__title
										h4 DISCOUNT
											a.fal.fa-edit(href="#")
										.cartAsideOption__price 8.490.000 đ
										span.fas.fa-chevron-down.cartAsideOption__iconToggle
									.cartAsideOption__list
										label.d-block.form__checkbox--custom-1
											input(type="checkbox")
											span Trekking in Sapa
										label.d-block.form__checkbox--custom-1
											input(type="checkbox")
											span Explore Northen Cuisine in 2 days
										label.d-block.form__checkbox--custom-1
											input(type="checkbox")
											span From Hoi An: Marble Mountain and …
							.cartAside__buttons
								.cartAside__buttonsWrapper
									a.btn.btn__submit--reverse(href="javascript:void(0)") Next
									a.voucher(href="#")
										span.fas.fa-gift
										| Add Discount Vouchers