.tourDetail__information.tourDetail__section.tourDetail__information--alsoLike
	.tourDetail__informationTitleBlock
		h2.tourDetail__title You may also like
		.tourDetail__contentToggle
			span.fs-16.fw-700 See more
	.tourDetail__content
		.row
			.col-sm-6.col-2xl-4
				a.tourNewsItem(href="/premade-tour.html")
					.tourNewsItem__img.overflow-hidden
						img.fullsize.object-cover(src="./assets/destinations/5.jpg")
					.tourNewsItem__content
						.tourNewsItem__note
							span /premade-tour.htmlHotels
						h4.tourNewsItem__title Ha Long Bay, Vietnam
						.tourNewsItem__rating.rating__bar
							.star
							.star__color(data-rating="0.7")
						.tourNewsItem__bottom
							.tourNewsItem__price
								span From 
								b $500
							span.btn.btn__submit See more
			.col-sm-6.col-2xl-4
				a.tourNewsItem(href="/premade-tour.html")
					.tourNewsItem__img.overflow-hidden
						img.fullsize.object-cover(src="./assets/destinations/5.jpg")
					.tourNewsItem__content
						.tourNewsItem__note
							span /premade-tour.htmlHotels
						h4.tourNewsItem__title Ha Long Bay, Vietnam
						.tourNewsItem__rating.rating__bar
							.star
							.star__color(data-rating="0.7")
						.tourNewsItem__bottom
							.tourNewsItem__price
								span From 
								b $500
							span.btn.btn__submit See more
			.col-sm-6.col-2xl-4
				a.tourNewsItem(href="/premade-tour.html")
					.tourNewsItem__img.overflow-hidden
						img.fullsize.object-cover(src="./assets/destinations/5.jpg")
					.tourNewsItem__content
						.tourNewsItem__note
							span /premade-tour.htmlHotels
						h4.tourNewsItem__title Ha Long Bay, Vietnam
						.tourNewsItem__rating.rating__bar
							.star
							.star__color(data-rating="0.7")
						.tourNewsItem__bottom
							.tourNewsItem__price
								span From 
								b $500
							span.btn.btn__submit See more