.tourDetailDiscount
	.tourDetailDiscount__link
		a(href="#")
			span.fas.fa-gift 
			span Share to friends and Get 5% Discount for both
	.tourDetailDiscount__content
		h4 DISCOUNT FOR LARGE GROUP
		p Did you know that you can save up to -25% for large group ?
		br
		p -5% total bill for: 10-100 persons
		p -10% total bill for: 101-500 persons
		p -15% total bill for: 501-1000 persons
		p For more than 1000 persons, please contact us