.tourDetail__general
	h1 Christina’s - Hotel & Cafe
	p 2 Days 3 Nights
	.tourDetail__generalDetail
		.tourDetail__generalRating
			span.fas.fa-star
			span 4.83 (95)
		.tourDetail__generalAddress
			span 212/ 2B Nguyen Trai District 1, District 1, Ho Chi Minh City