.tourDetail__photo.pt-50
	h2.tourDetail__title Photos
	.tourDetail__bigSlider
		.swiper-container
			.swiper-wrapper
				.swiper-slide
					.imgBox
						img.fullsize(src="./assets/destinations/5.jpg", alt="")
				.swiper-slide
					.imgBox
						img.fullsize(src="./assets/destinations/6.jpg", alt="")
				.swiper-slide
					.imgBox
						img.fullsize(src="./assets/destinations/7.jpg", alt="")
				.swiper-slide
					.imgBox
						img.fullsize(src="./assets/destinations/8.jpg", alt="")
				.swiper-slide
					.imgBox
						img.fullsize(src="./assets/destinations/7.jpg", alt="")
				.swiper-slide
					.imgBox
						img.fullsize(src="./assets/destinations/6.jpg", alt="")
	.tourDetail__smallSlider
		.swiper__btn.swiper__btn--1.swiper__btn--prev.shadow--1
			span.fal.fa-chevron-left
		.swiper__btn.swiper__btn--1.swiper__btn--next.shadow--1
			span.fal.fa-chevron-right
		.swiper-container
			.swiper-wrapper
				.swiper-slide
					.imgBox
						img.fullsize(src="./assets/destinations/5.jpg", alt="")
				.swiper-slide
					.imgBox
						img.fullsize(src="./assets/destinations/6.jpg", alt="")
				.swiper-slide
					.imgBox
						img.fullsize(src="./assets/destinations/7.jpg", alt="")
				.swiper-slide
					.imgBox
						img.fullsize(src="./assets/destinations/8.jpg", alt="")
				.swiper-slide
					.imgBox
						img.fullsize(src="./assets/destinations/7.jpg", alt="")
				.swiper-slide
					.imgBox
						img.fullsize(src="./assets/destinations/6.jpg", alt="")
.tourDetail__information.tourDetail__section.tourDetail__information--overview(data-id="tabSection-1")
	.tourDetail__informationTitleBlock
		h2.tourDetail__title Overview
	.tourDetail__content
		p Complex of Hue Monuments lies along the Perfume River in Hue City and some adjacent areas of Thua Thien Hue Province. Hue City constitutes the cultural, political and economic centre of the province, and was the old imperial city of Vietnam under the Nguyen Dynasty.
	.tourDetail__content.tourDetail__content--toggle.tourDetail__content--hide
		p From 1802 to 1945, Hue was the capital of unified Vietnam under the reign of the 13 Nguyen Kings. During these years, architectural works of a high cultural and historic value were built: the Citadel, especially the Imperial City (including 253 constructions), 7 Royal tomb compound of 9 kings of the Nguyen Dynasty, the Temple of Heaven, Tiger Arena, hundreds of pagoda. The monument complex of Hue, nowadays, was listed by UNESCO as the world heritage in 1993
		p From 1802 to 1945, Hue was the capital of unified Vietnam under the reign of the 13 Nguyen Kings. During these years, architectural works of a high cultural and historic value were built: the Citadel, especially the Imperial City (including 253 constructions), 7 Royal tomb compound of 9 kings of the Nguyen Dynasty, the Temple of Heaven, Tiger Arena, hundreds of pagoda. The monument complex of Hue, nowadays, was listed by UNESCO as the world heritage in 1993
		p From 1802 to 1945, Hue was the capital of unified Vietnam under the reign of the 13 Nguyen Kings. During these years, architectural works of a high cultural and historic value were built: the Citadel, especially the Imperial City (including 253 constructions), 7 Royal tomb compound of 9 kings of the Nguyen Dynasty, the Temple of Heaven, Tiger Arena, hundreds of pagoda. The monument complex of Hue, nowadays, was listed by UNESCO as the world heritage in 1993
		p From 1802 to 1945, Hue was the capital of unified Vietnam under the reign of the 13 Nguyen Kings. During these years, architectural works of a high cultural and historic value were built: the Citadel, especially the Imperial City (including 253 constructions), 7 Royal tomb compound of 9 kings of the Nguyen Dynasty, the Temple of Heaven, Tiger Arena, hundreds of pagoda. The monument complex of Hue, nowadays, was listed by UNESCO as the world heritage in 1993
		p From 1802 to 1945, Hue was the capital of unified Vietnam under the reign of the 13 Nguyen Kings. During these years, architectural works of a high cultural and historic value were built: the Citadel, especially the Imperial City (including 253 constructions), 7 Royal tomb compound of 9 kings of the Nguyen Dynasty, the Temple of Heaven, Tiger Arena, hundreds of pagoda. The monument complex of Hue, nowadays, was listed by UNESCO as the world heritage in 1993
	.tourDetail__contentToggle
		span.fs-16.fw-700 See more