.tourDetailType
	.tourDetailType__title
		h2.tourDetail__title Anything Types
	.tourDetailType__list
		label.form__checkbox--custom-1.tourDetailType__checkbox
			input(type="checkbox")
			.tourDetailType__content
				h4
					b 4 seats
					span 1 Double Bed
				p
					b 888.500 
					span Per Car
		label.form__checkbox--custom-1.tourDetailType__checkbox
			input(type="checkbox")
			.tourDetailType__content
				h4
					b 4 seats
					span 1 Double Bed
				p
					b 888.500 
					span Per Car
		label.form__checkbox--custom-1.tourDetailType__checkbox
			input(type="checkbox")
			.tourDetailType__content
				h4
					b 4 seats
					span 1 Double Bed
				p
					b 888.500 
					span Per Car
		label.form__checkbox--custom-1.tourDetailType__checkbox
			input(type="checkbox")
			.tourDetailType__content
				h4
					b 4 seats
					span 1 Double Bed
				p
					b 888.500 
					span Per Car